$images: "./../../assets";
$borderColor: "#908271";
$color: "wheat";

body {
    background-color: black;
}

#display {
    left: 52px;
    right: 170px;
    top: 2px;
    bottom: 42px;
    border: 1px solid #{$borderColor};
    margin-bottom: 5px
}

#display-split-bar {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
    height: 6px;
}

#display-split-ghost-bar {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
    height: 6px;
}

#display-split-bar:hover,
#display-split-bar:active,
#display-split-bar:focus {
    background-color: #d70000;
    transition-delay: 1s;
}

#display-split-frame {
    right: 18px;
}

#command {
    height: 38px;
    bottom: 2px;
    left: 52px;
    right: 170px;
    background-color: transparent;
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#commandMeasure {
    min-height: 32px;
}

#commandbox {
    left: 2px;
    right: 148px;
    height: 32px;
    bottom: 2px;
}

#commandInput {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    color: wheat;
    box-sizing: border-box;
    padding: 0;
}

#buttonbar {
    top: 28px;
    left: 2px;
    bottom: 2px;
    width: 48px;
}

#bb-scroll-up {
    top: 28px;
}

#bb-scroll-down, #bb-scroll-up {
    width: 48px;
}

#bb-scroll-down {
    bottom: 0;
}

.scroll-track {
    background-color: #191814;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 18px;
    height: 18px;
}

.scroll-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
}

.scroll-thumb:hover {
    background: #988f7f;
}

.scroll-thumb:active {
    background-color: #544f46;
}

.scroll-corner {
    background-color: 191814;
    width: 18px;
    height: 18px;
}

.scroll-split-button {
    display: block !important;
    color: wheat;
    background-color: maroon !important;
    border: 1px solid #{$borderColor} !important;
    font-size: 14px;
}

.scroll-split-button.active {
    background-color: #d70000 !important;
    color: wheat;
}

.scroll-split-button.active:hover {
    background-color: #790000 !important;
    color: wheat;
}

.scroll-split-button.active:active {
    background-color: maroon !important;
    color: wheat;
}

.scroll-split-button:hover {
    background-color: #d70000 !important;
    color: wheat;
}

.scroll-split-button:active {
    background-color: #790000 !important;
    color: wheat;
}

.scroll-split-button:focus {
    color: wheat;
}

.scroll-split-button.disabled,
.scroll-split-button.disabled:hover,
.scroll-split-button.disabled:active,
.scroll-split-button.disabled:focus {
    background-color: maroon !important;
    color: #A88749;
}

.scroll-horizontal {
    border-top: 1px solid #494238;
}

.scroll-vertical {
    border-left: 1px solid #494238;
}

.scroll-disabled .scroll-thumb,
.scroll-disabled .scroll-thumb:hover,
.scroll-disabled .scroll-thumb:active {
    background: rgba(51, 48, 43, 0.4);
    border: 0px;
    color: #A88749;
}

#display::-webkit-scrollbar,
#bars::-webkit-scrollbar,
#commandInput::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#commandInput::-webkit-scrollbar {
    background-color: black;
}

/* Track */

#display::-webkit-scrollbar-track,
#bars::-webkit-scrollbar-track,
#commandInput::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #191814;
    border: 1px solid #494238;
}

/* Handle */

#display::-webkit-scrollbar-thumb,
#bars::-webkit-scrollbar-thumb,
#commandInput::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
}

#display::-webkit-scrollbar-thumb:hover,
#bars::-webkit-scrollbar-thumb:hover,
#commandInput::-webkit-scrollbar-thumb:hover {
    background: #988f7f;
}

#display::-webkit-scrollbar-thumb:active,
#bars::-webkit-scrollbar-thumb:active,
#commandInput::-webkit-scrollbar-thumb:active {
    background: #544f46;
}

#display::-webkit-scrollbar-thumb:window-inactive,
#bars::-webkit-scrollbar-thumb:window-inactive,
#commandInput::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(51, 48, 43, 0.4);
}

#display::-webkit-scrollbar-corner,
#bars::-webkit-scrollbar-corner,
#commandInput::-webkit-scrollbar-corner {
    background-color: black;
}

.find {
    top: 5px;
    right: 20px;
    color: #BBBBBB;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: rgb(40, 0, 0);
}

.find-drag-grip svg {
    fill: #bbb ;
}

.find-drag-grip:hover svg {
    fill: wheat;
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: inherit;
    color: silver;
    padding: 2px 2px;
    height: 16px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid maroon;
    color: wheat;
    background: rgba(128, 0, 0, 0.5);
}

.find button:hover,
.find button.active:hover {
    border: 1px solid wheat;
    background-color: #d70000;
    color: wheat;
}

.find button:active {
    border: 1px solid #0052A4;
}

.find button:disabled,
.find button:disabled:hover {
    border: 1px solid transparent;
    color: #555;
    background-color: inherit;
}

.find button.active {
    border: 1px solid maroon;
    background: rgba(128, 0, 0, 0.5);
    color: wheat;
}

/* begin status */

#status {
    width: 246px;
    text-align: center;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: rgb(40, 0, 0);
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#status-border {
    display: none;
}

#environment {
    height: 75px;
    top: 3px;
    left: 3px;
    right: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
}

#environmentleft {
    top: 15px;
    left: calc(50% - 112.5px);
    width: 75px;
    height: 75px;
}

#environmentcenter {
    top: 5px;
    left: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
}

#environmentright {
    top: 15px;
    right: calc(50% - 112.5px);
    width: 75px;
    height: 75px;
}

#character-name {
    color: wheat;
    padding: 0 33px;
    font-size: 1.6em;
}

#lefthandweapon {
    top: 127px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 48px;
    height: 48px;
    left: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#righthandweapon {
    top: 127px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 48px;
    height: 48px;
    right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#experience {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
    color: wheat;
    text-align: left;
    font-size: 18px;
}

#experience div span:nth-child(2) {
    padding-right: 2px;
}

#bars {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    padding: 2px;
    color: wheat;
    text-align: left;
}

.combat-bar {
    height: 51px;
    width: 100%;
    margin-bottom: 2px;
}

.combat-name {
    right: 1px;
    left: 54px;
    font-size: 1.5em
}

.combat-name:first-letter {
    text-transform: capitalize;
}

.combat-icon {
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #{$borderColor};
    zoom: 1.5;
}

.combat-bar .progressbar {
    right: 1px;
    left: 54px;
    font-size: 1em;
    bottom: 2px;
}

#body {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
    font-size: 18px;
}

#fullbody {
    width: 192px;
    height: 300px;
}

.progressbar {
    border: 1px solid #{$borderColor};
}

#hp-status>div {
    height: 22px;
}

#hp-status>div>.progressbar {
    left: 35px;
}

#need-percent {
    left: 72px;
}

#hp-status {
    text-align: left;
    color: wheat;
}

.progressbar .progressbar-text {
    left: 20px;
    right: 0px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value {
    height: 100%;
    width: 0%;
    background-color: wheat;
}

#lagMeter {
    bottom: 3px;
    right: 3px;
    left: 3px;
    font-size: 1.18em;
}

#lagMeter.progressbar .progressbar-text {
    left: 0;
}

#party.hasmembers {
    border-bottom: 1px solid #{$borderColor};
    padding-bottom: 4px;
}


/** end stats **/


/** button stats */

#history-dropup {
    width: 48px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

#history-dropup .fa {
    margin-top: 3px;
}

#history-dropup:hover {
    background-color: #d70000;
}

#history-dropup:active {
    background-color: #790000;
}

.command-history .caret {
    border-bottom: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin: -7px 0 0 0 !important;
}

#btnTriggers,
#btnParsing {
    text-align: center;
    border-radius: 4px;
    border: 0px;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

#btnTriggers.on,
#btnParsing.on {
    background-color: #d70000;
}

#btnTriggers:hover,
#btnParsing:hover,
#btnTriggers.on:active,
#btnParsing.on:active {
    background-color: #d70000;
}

#btnTriggers:active,
#btnParsing:active,
#btnTriggers.on:hover,
#btnParsing.on:hover {
    background-color: #790000;
}

#advedit {
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    height: 30px;
    width: 30px;
}

#advedit .fa {
    margin-top: 4px;
    margin-left: 3px;
}

#advedit:hover {
    background-color: #d70000;
}

#advedit:active {
    background-color: #790000;
}

.button {
    color: wheat;
    background-color: maroon;
    border: 1px solid #{$borderColor};
    margin-bottom: 2px;
    width: 48px;
    height: 48px;
}

.button svg {
    fill: #{$color};
    width: 40px;
    height: 40px;
    top: 2px;
}

.button img,
.button-icon {
    margin-top: 9px;
    margin-left: 9px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.button .fa,
.button-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 8px;
}

.button .fa-stack {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.button.on {
    background-color: #d70000;
    color: wheat;
}

.button.on:hover {
    background-color: #790000;
    color: wheat;
}

.button.on:active,
.button.on:focus {
    background-color: maroon;
    color: wheat;
}

.button:hover {
    background-color: #d70000;
    color: wheat;
}

.button:hover .overlay,
.button.on:hover {
    background-color: rgba(215, 0, 0, 0.40);
}

.button:active {
    background-color: #790000;
    color: wheat;
}

.button:focus {
    color: wheat;
}

.button-sm .fa,
.button-sm.on .fa {
    margin-top: 1px;
    margin-left: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.button-sm,
.button-sm.on {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.button-sm img,
.button-sm.on img {
    height: 24px;
    width: 24px;
    margin: 1px;
}

.button-sm svg,
.button-sm.on svg {
    top: 0px;
    width: 30px;
    height: 30px;
    position: relative;
}

/** button end */

#status-drag-bar {
    left: -2px;
    top: -7px;
    height: initial;
    bottom: -14px;
    transition: 0s background-color;
}

#status-drag-bar:hover {
    background-color: #d70000;
    transition-delay: 1s;
}

#status-ghost-bar {
    background-color: #d70000;
}

/** Grip button */
.drag-grip {
    color: #{$color};
    background-color: maroon;
    left: 2px;
    top: 2px;    
    height: 24px;
}

.drag-grip:hover {
    background-color: #d70000;
    color: #{$color};
}

.drag-grip:active {
    background-color: #790000;
    color: #{$color};
}

.drag-grip:focus {
    color: #{$color};
}

.drag-grip span {
    left: 8px;
    top: -6px;
}

.drag-grip svg {
    height: 20px;
    top: -6px;
}

.drag-grip[style*='display: none']~#bb-scroll-up,
.drag-grip[style*='display: none']~#buttonbar {
    top: 2px;
}

#loader {
    color: wheat;
    background-color: black;
}

.loader {
    border: 16px solid #790000;
    /* Light grey */
    border-top: 16px solid #d70000;
    /* Blue */
}