$images: "./../../assets";
$borderColor: "#908271";
$color: "wheat";

body {
    background-color: black;
}

#display {
    left: 68px;
    right: 170px;
    top: 2px;
    bottom: 53px;
    border: 1px solid #{$borderColor};
}

#display-split-bar {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
    height: 8px;
}

#display-split-ghost-bar {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d70000;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
    height: 8px;
}

#display-split-bar:hover,
#display-split-bar:active,
#display-split-bar:focus {
    background-color: #d70000;
    transition-delay: 1s;
}

#display-split-frame {
    right: 24px;
}

#command {
    height: 48px;
    bottom: 2px;
    left: 68px;
    right: 170px;
    background-color: transparent;
    border: 1px solid #{$borderColor};
}

#commandbox {
    left: 2px;
    right: 202px;
    height: 42px;
    bottom: 2px;
}

#commandleft,
#commandright {
    display: none;
}

#commandInput {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    color: wheat;
    box-sizing: border-box;
    padding: 0;
}

#buttonbar {
    top: 36px;
    left: 2px;
    bottom: 2px;
    width: 64px;
}
#bb-scroll-up {
    top: 36px;
}

#bb-scroll-down, #bb-scroll-up {
    width: 64px;
}

#bb-scroll-down {
    bottom: 0;
}

.scroll-track {
    background-color: #191814;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 24px;
    height: 24px;
}

.scroll-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
}

.scroll-thumb:hover {
    background: #988f7f;
}

.scroll-thumb:active {
    background-color: #544f46;
}

.scroll-corner {
    background-color: #191814;
    width: 24px;
    height: 24px;
}

.scroll-split-button {
    display: block !important;
    color: wheat;
    background-color: maroon !important;
    border: 1px solid #{$borderColor} !important;
    font-size: 18px;
}

.scroll-split-button.active {
    background-color: #d70000 !important;
    color: wheat;
}

.scroll-split-button.active:hover {
    background-color: #790000 !important;
    color: wheat;
}

.scroll-split-button.active:active {
    background-color: maroon !important;
    color: wheat;
}

.scroll-split-button:hover {
    background-color: #d70000 !important;
    color: wheat;
}

.scroll-split-button:active {
    background-color: #790000 !important;
    color: wheat;
}

.scroll-split-button:focus {
    color: wheat;
}

.scroll-split-button.disabled,
.scroll-split-button.disabled:hover,
.scroll-split-button.disabled:active,
.scroll-split-button.disabled:focus {
    background-color: maroon !important;
    color: #A88749;
}

.scroll-horizontal {
    border-top: 1px solid #494238;
}

.scroll-vertical {
    border-left: 1px solid #494238;
}

.scroll-disabled .scroll-thumb,
.scroll-disabled .scroll-thumb:hover,
.scroll-disabled .scroll-thumb:active {
    background: rgba(51, 48, 43, 0.4);
    border: 0px;
    color: #A88749;
}

#display::-webkit-scrollbar,
#bars::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */

#display::-webkit-scrollbar-track,
#bars::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #191814;
    border: 1px solid #494238;
}

/* Handle */

#display::-webkit-scrollbar-thumb,
#bars::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33302b;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #{$borderColor};
}

#display::-webkit-scrollbar-thumb:hover,
#bars::-webkit-scrollbar-thumb:hover {
    background: #988f7f;
}

#display::-webkit-scrollbar-thumb:active,
#bars::-webkit-scrollbar-thumb:active {
    background: #544f46;
}

#display::-webkit-scrollbar-thumb:window-inactive,
#bars::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(51, 48, 43, 0.4);
}

#display::-webkit-scrollbar-corner,
#bars::-webkit-scrollbar-corner {
    background-color: black;
}

.find {
    top: 5px;
    right: 20px;
    color: #BBBBBB;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: rgb(40, 0, 0);
}

.find-drag-grip svg {
    fill: #bbb ;
}

.find-drag-grip:hover svg {
    fill: wheat;
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: inherit;
    color: silver;
    padding: 2px 2px;
    height: 16px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid maroon;
    color: wheat;
    background: rgba(128, 0, 0, 0.5);
}

.find button .fa {
    margin-top: 3px;
}

.find button {
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    line-height: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

.find button:hover,
.find button.active:hover {
    border: 1px solid wheat;
    background-color: #d70000;
    color: wheat;
}

.find button:active {
    border: 1px solid #0052A4;
}

.find button:disabled,
.find button:disabled:hover {
    border: 1px solid transparent;
    color: #555;
    background-color: inherit;
}

.find button.active {
    border: 1px solid maroon;
    background: rgba(128, 0, 0, 0.5);
    color: wheat;
}

.find-case {
    font-size: 10px;
}

.find-word {
    text-decoration: overline underline;
    font-size: 10px;
}

.find-highlight {
    border-radius: 4px;
    background: rgb(171, 102, 31);
}

.find-no-results {
    color: #F08080;
}

.find-highlight.current {
    border-radius: 4px;
    background: rgb(116, 192, 114);
    z-index: 10;
}


/* begin status */

#status {
    width: 328px;
    text-align: center;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: rgb(40, 0, 0);
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#status-border {
    display: none;
}

.day {
    background-image: url("#{$images}/status/daybg.png");
}

.day #environmentcenter {
    background-image: url("#{$images}/status/sun.png");
}

.night {
    background-image: url("#{$images}/status/nightbg.png");
}

.twilight {
    background-image: url("#{$images}/status/sunsetbg.png");
}

.dawn {
    background-image: url("#{$images}/status/sunrisebg.png");
}

.twilight #environmentcenter,
.dawn #environmentcenter {
    background-image: url("#{$images}/status/sunset.png");
}

.moon1-full #environmentleft {
    background-image: url("#{$images}/status/redmoonfull.png");
}

.moon1-waning #environmentleft {
    background-image: url("#{$images}/status/redmoonwaning.png");
}

.moon1-waxing #environmentleft {
    background-image: url("#{$images}/status/redmoonwaxing.png");
}

.moon2-full #environmentcenter {
    background-image: url("#{$images}/status/bluemoonfull.png");
}

.moon2-waning #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaning.png");
}

.moon2-waxing #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaxing.png");
}

.moon3-full #environmentright {
    background-image: url("#{$images}/status/greenmoonfull.png");
}

.moon3-waning #environmentright {
    background-image: url("#{$images}/status/greenmoonwaning.png");
}

.moon3-waxing #environmentright {
    background-image: url("#{$images}/status/greenmoonwaxing.png");
}

.weather-snow #environmentweather {
    background-image: url("#{$images}/status/weathersnow.png");
}

.weather-snow.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersnowhard.png");
}

.weather-hail #environmentweather {
    background-image: url("#{$images}/status/weatherhail.png");
}

.weather-hail.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherhailhard.png");
}

.weather-rain #environmentweather,
.weather-zombie_rain #environmentweather {
    background-image: url("#{$images}/status/weatherrain.png");
}

.weather-rain.intensity-hard #environmentweather,
.weather-zombie_rain.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherrainhard.png");
}

.weather-sand #environmentweather {
    background-image: url("#{$images}/status/weathersand.png");
}

.weather-sand.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersandhard.png");
}

.weather-sleet #environmentweather {
    background-image: url("#{$images}/status/weathersleet.png");
}

.weather-sleet.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersleethard.png");
}

.weather-blood_rain #environmentweather {
    background-image: url("#{$images}/status/weatherblood_rain.png");
}

.weather-blood_rain.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherblood_rainhard.png");
}

#environment {
    height: 100px;
    top: 3px;
    left: 3px;
    right: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
}

#environmentleft {
    top: 15px;
    left: calc(50% - 125px);
    width: 100px;
    height: 100px;
}

#environmentcenter {
    top: 5px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
}

#environmentright {
    top: 15px;
    right: calc(50% - 125px);
    width: 100px;
    height: 100px;
}

#character-name {
    color: wheat;
    padding: 0 44px;
    font-size: 2.4em;
}

#character-name::first-letter {
    text-transform: uppercase;
}

.weapon-dominant {
    border-color: red !important;
}

.weapon-large-sword {
    background-image: url(#{$images}/status/icon_sword_long2.png);
}

.weapon-shield {
    background-image: url(#{$images}/status/icon_shield.png);
}

.weapon-melee {
    background-image: url(#{$images}/status/icon_melee.png);
}

.weapon-miscellaneous {
    background-image: url(#{$images}/status/icon_misc.png);
}

.weapon-polearm {
    background-image: url(#{$images}/status/icon_halberd2.png);
}

.weapon-small-sword {
    background-image: url(#{$images}/status/icon_sword_short3.png);
}

.weapon-spear {
    background-image: url(#{$images}/status/icon_spear2.png);
}

.weapon-axe {
    background-image: url(#{$images}/status/icon_axe1.png);
}

.weapon-blunt {
    background-image: url(#{$images}/status/icon_bigclub1.png);
}

.weapon-knife {
    background-image: url(#{$images}/status/icon_dagger1.png);
}

.weapon-bow {
    background-image: url(#{$images}/status/icon_Bow3.png);
}

.weapon-crossbow {
    background-image: url(#{$images}/status/icon_XBow2.png);
}

.weapon-flail {
    background-image: url(#{$images}/status/icon_bullwhip.png);
}

.weapon-staff {
    background-image: url(#{$images}/status/icon_staff2.png);
}

#lefthandweapon {
    top: 170px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 64px;
    height: 64px;
    left: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#righthandweapon {
    top: 170px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 64px;
    height: 64px;
    right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#experience {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
    color: wheat;
    text-align: left;
    font-size: 24px;
}

#experience div span:nth-child(2) {
    padding-right: 2px;
}

#bars {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    padding: 2px;
    color: wheat;
    text-align: left;
}

.combat-bar {
    height: 68px;
    width: 100%;
    margin-bottom: 2px;
}

.combat-name {
    right: 1px;
    left: 76px;
    font-size: 2em
}

.combat-name:first-letter {
    text-transform: capitalize;
}

.combat-icon {
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #{$borderColor};
    zoom: 2.0;
}

.combat-bar .progressbar {
    right: 1px;
    left: 76px;
    font-size: 1.5em;
    bottom: 2px;
}

.combat-bar .progressbar .progressbar-text {
    left: 0;
}

#body {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
    font-size: 24px;
}

#fullbody {
    width: 256px;
    height: 400px;
}

#health {
    left: 2px;
}

#armor {
    right: 2px;
}

.health-100 {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.health-80-99 {
    fill: rgb(252, 71, 29);
    color: rgb(252, 71, 29);
    stroke: rgb(252, 71, 29);
}

.health-60-79 {
    fill: rgb(252, 165, 40);
    color: rgb(252, 165, 40);
    stroke: rgb(252, 165, 40);
}

.health-40-59 {
    fill: rgb(251, 217, 48);
    color: rgb(251, 217, 48);
    stroke: rgb(251, 217, 48);
}

.health-20-39 {
    fill: rgb(251, 255, 55);
    color: rgb(251, 255, 55);
    stroke: rgb(251, 255, 55);
}

.health-1-19 {
    fill: rgb(167, 255, 69);
    color: rgb(167, 255, 69);
    stroke: rgb(167, 255, 69);
}

.health-full {
    fill: rgb(0, 255, 31);
    color: rgb(0, 255, 31);
    stroke: rgb(0, 255, 31);
}

.armor-unarmored {
    fill: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    stroke: rgb(128, 0, 0);
}

.armor-barely {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.armor-slightly {
    fill: rgb(128, 128, 0);
    color: rgb(128, 128, 0);
    stroke: rgb(128, 128, 0);
}

.armor-somewhat {
    fill: rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    stroke: rgb(255, 255, 0);
}

.armor-moderately {
    fill: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    stroke: rgb(0, 128, 128);
}

.armor-fairly {
    fill: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
    stroke: rgb(0, 255, 255);
}

.armor-adequately {
    fill: rgb(0, 128, 0);
    color: rgb(0, 128, 0);
    stroke: rgb(0, 128, 0);
}

.armor-well {
    fill: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    stroke: rgb(0, 255, 0);
}

.armor-considerably {
    fill: rgb(0, 0, 128);
    color: rgb(0, 0, 128);
    stroke: rgb(0, 0, 128);
}

.armor-significantly {
    fill: rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    stroke: rgb(0, 0, 255);
}

.armor-completely {
    fill: rgb(128, 128, 110);
    color: rgb(128, 128, 110);
    stroke: rgb(128, 128, 110);
}

.armor-extensively {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}

.progressbar {
    height: 28px;
    font-size: 1em;
    border: 1px solid #{$borderColor};
    width: 118px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /* future proofing */
    background: -webkit-linear-gradient(left, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
}

#hp-status>div {
    height: 30px;
}

#hp-status>div>.progressbar {
    left: 47px;
}

#need-percent {
    left: 96px;
}

#hp-status {
    text-align: left;
    color: wheat;
}

#hp-status span {
    overflow: hidden;
    display: inline-block;
}

.progressbar .progressbar-text {
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value {
    height: 100%;
    width: 0%;
    background-color: wheat;
}

#lagMeter {
    bottom: 3px;
    right: 3px;
    left: 3px;
    font-size: 1.5em;
}

#lagMeter.progressbar .progressbar-text {
    left: 0;
}

#party.hasmembers {
    border-bottom: 1px solid #{$borderColor};
    padding-bottom: 4px;
}


/** end stats **/


/** button stats */

#history-dropup {
    width: 64px;
    height: 42px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

#history-dropup .fa {
    margin-top: 4px;
}

#history-dropup:hover {
    background-color: #d70000;
}

#history-dropup:active {
    background-color: #790000;
}

.command-history {
    right: 135px;
    top: 3px;
}

.command-history .caret {
    border-bottom: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin: -10px 0 0 0 !important;
}

#btnTriggers {
    right: 47px;
}

#btnParsing {
    right: 91px;
}

#btnTriggers,
#btnParsing {
    top: 3px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    height: 42px;
    width: 42px;
    background-color: transparent;
}

#btnTriggers.on,
#btnParsing.on {
    background-color: #d70000;
}

#btnTriggers:hover,
#btnParsing:hover,
#btnTriggers.on:active,
#btnParsing.on:active {
    background-color: #d70000;
}

#btnTriggers:active,
#btnParsing:active,
#btnTriggers.on:hover,
#btnParsing.on:hover {
    background-color: #790000;
}

#advedit {
    top: 3px;
    right: 3px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    height: 42px;
    width: 42px;
}

#advedit .fa {
    margin-top: 5.5px;
    margin-left: 4px;
}

#advedit:hover {
    background-color: #d70000;
}

#advedit:active {
    background-color: #790000;
}

.button {
    color: wheat;
    background-color: maroon;
    border: 1px solid #{$borderColor};
    margin-bottom: 2px;
    width: 64px;
    height: 64px
}

.button svg {
    fill: #{$color};
    width: 54px;
    height: 54px;
    top: 2px;
}

.button img,
.button-icon {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.button .fa,
.button-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-top: 11px;
}

.button .fa-stack {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.button.on {
    background-color: #d70000;
    color: wheat;
}

.button.on:hover {
    background-color: #790000;
    color: wheat;
}

.button.on:active,
.button.on:focus {
    background-color: maroon;
    color: wheat;
}

.button:hover {
    background-color: #d70000;
    color: wheat;
}

.button:hover .overlay,
.button.on:hover {
    background-color: rgba(215, 0, 0, 0.40);
}

.button:active {
    background-color: #790000;
    color: wheat;
}

.button:focus {
    color: wheat;
}

.button-sm .fa,
.button-sm.on .fa {
    margin-top: 2px;
    margin-left: 0;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.button-sm,
.button-sm.on {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.button-sm img,
.button-sm.on img {
    height: 32px;
    width: 32px;
    margin: 2px;
}

.button-sm svg,
.button-sm.on svg {
    top: 0px;
    width: 30px;
    height: 30px;
    position: relative;
}

/** button end */

#status-drag-bar {
    left: -2px;
    top: -7px;
    height: initial;
    bottom: -14px;
    transition: 0s background-color;
}

#status-drag-bar:hover {
    background-color: #d70000;
    transition-delay: 1s;
}

#status-ghost-bar {
    background-color: #d70000;
}

/** Grip button */
.drag-grip {
    color: #{$color};
    background-color: maroon;
    left: 2px;
    top: 2px;    
    height: 32px;
}

.drag-grip:hover {
    background-color: #d70000;
    color: #{$color};
}

.drag-grip:active {
    background-color: #790000;
    color: #{$color};
}

.drag-grip:focus {
    color: #{$color};
}

.drag-grip span {
    left: 8px;
    top: -6px;
}

.drag-grip svg {
    height: 28px;
    top: 0px;
}

.drag-grip[style*='display: none']~#bb-scroll-up,
.drag-grip[style*='display: none']~#buttonbar {
    top: 2px;
}

#loader {
    color: wheat;
    background-color: black;
}

.loader {
    border: 16px solid #790000;
    /* Light grey */
    border-top: 16px solid #d70000;
    /* Blue */
}