$images: "./../../assets";
$borderColor: "#414141";
$color: "#d4d4d4";
$panelBackground: "#1e1e1e";
$panelInsetBackground: "#252526";

body {
    background-color: #{$panelBackground};
}

#display {
    left: 36px;
    right: 168px;
    top: 2px;
    bottom: 29px;
    border: 1px solid #{$borderColor};
    margin-bottom: 5px;
}

#display-split-bar {
    border-top: 1px solid #{$borderColor};
    border-bottom: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
}

#display-split-ghost-bar {
    border-top: 1px solid #{$borderColor};
    border-bottom: 1px solid #{$borderColor};
    background-color: #d4d4d4;
}

#display-split-bar:hover,
#display-split-bar:active,
#display-split-bar:focus {
    background-color: #d4d4d4;    
    transition-delay: 1s;
}

#command {
    height: 24px;
    bottom: 2px;
    left: 36px;
    right: 170px;
    background-color: transparent;
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#commandbox {
    left: 2px;
    right: 96px;
    height: 18px;
    bottom: 2px;
}

#commandInput {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    color: #{$color};
    box-sizing: border-box;
    padding: 0;
}

#buttonbar {
    top: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #{$panelBackground};
}

#bb-scroll-up {
    top: 20px;
}

#bb-scroll-down {
    bottom: 0px;
}

/* Let's get this party started */
.scroll-track {
    background-color: #{$panelBackground};
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #{$borderColor};
    border-left: 1px solid #{$borderColor};
}

.scroll-thumb {
    background: #8e8e8e;
    border: 1px solid #{$borderColor};
}

.scroll-thumb:hover {
    background: #807f7e;
}

.scroll-thumb:active {
    background-color: #c7c7c7;
}

.scroll-corner {
    background-color: #{$panelBackground};
}

.scroll-split-button {
    color: #{$color};
    background-color: #252526 !important;
    border-top: 1px solid #{$borderColor};
    border-left: 1px solid #{$borderColor};
    border-right: 0;
    border-bottom: 0;
}

.scroll-split-button:hover, .scroll-split-button.active:hover {
    background-color: #5a5d5e !important;
    color: #fff;
}

.scroll-split-button:active, .scroll-split-button:focus {
    color: #3f3f46;
    background-color: #{$color} !important;
}

.scroll-split-button.active {
    color: #5a5d5e;
    background-color: #{$color} !important;
    border: 1px solid transparent !important;
    border-top: 1px solid #{$borderColor};
    border-left: 1px solid #{$borderColor};
    border-right: 0;
    border-bottom: 0;    
}

.scroll-split-button.active:active {
    background-color: #3f3f46 !important;
    color: #{$color};
}

.scroll-split-button.disabled, .scroll-split-button.disabled:hover, .scroll-split-button.disabled:active, .scroll-split-button.disabled:focus {
    background-color: #252526 !important;
    color: #3f3f46;
}

.scroll-horizontal {
    border-top: 1px solid #{$borderColor};
}

.scroll-vertical {
    border-left: 1px solid #{$borderColor};
}

.scroll-disabled .scroll-thumb, .scroll-disabled .scroll-thumb:hover, .scroll-disabled .scroll-thumb:active {
    background: rgba(51, 48, 43, 0.4);
    border: 0px;
}

#display::-webkit-scrollbar,
#bars::-webkit-scrollbar,
#commandInput::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */

#display::-webkit-scrollbar-track,
#bars::-webkit-scrollbar-track,
#commandInput::-webkit-scrollbar-track {
    background-color: #{$panelBackground};
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    /*border-radius: 10px;*/
    border-top: 1px solid #{$borderColor};
    border-left: 1px solid #{$borderColor};
}

/* Handle */

#display::-webkit-scrollbar-thumb,
#bars::-webkit-scrollbar-thumb,
#commandInput::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background: #33302b;
    border: 1px solid #{$borderColor};
}

#display::-webkit-scrollbar-thumb:hover,
#bars::-webkit-scrollbar-thumb:hover,
#commandInput::-webkit-scrollbar-thumb:hover {
    background: #807f7e;
}

#display::-webkit-scrollbar-thumb:active,
#bars::-webkit-scrollbar-thumb:active,
#commandInput::-webkit-scrollbar-thumb:active {
    background: #080808;
}

#display::-webkit-scrollbar-thumb:window-inactive,
#bars::-webkit-scrollbar-thumb:window-inactive,
#commandInput::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(51, 48, 43, 0.4);
}

#display::-webkit-scrollbar-corner,
#bars::-webkit-scrollbar-corner,
#commandInput::-webkit-scrollbar-corner {
    background-color: #{$panelBackground};

    /*
    border-top:1px solid #{$borderColor};
    border-left:1px solid #{$borderColor};
    */
}

.find {
    top: 5px;
    right: 20px;
    color: #{$color};
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
}

.find-drag-grip svg {
    fill: #bbb ;
}

.find-drag-grip:hover svg {
    fill: #{$color};
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: inherit;
    color: silver;
    padding: 2px 2px;
    height: 16px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid #{$borderColor};
    color: #{$color};
    background: #{$panelBackground};
}

.find button:hover {
    border: 1px solid #{$color};
    background-color: #5a5d5e;
    color: #{$color};
}

.find button.active:hover {
    border: 1px solid #{$color};
    color: #5a5d5e;
    background-color: #{$color};
}

.find button:active {
    border: 1px solid #fff;
}

.find button:disabled,
.find button:disabled:hover {
    border: 1px solid transparent;
    color: #555;
    background-color: inherit;
}

.find button.active {
    border: 1px solid #3f3f46;
    background: rgba(63, 63, 70, 0.5);
    color: #{$color};
}

/* begin status */

#status {
    width: 164px;
    text-align: center;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#status-border {
    width: 168px;
    display: none;
}

#environment {
    height: 50px;
    top: 3px;
    left: 3px;
    right: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
}

#character-name {
    color: #{$color};
    padding: 0 22px;
    font-size: 1.2em;
}

#lefthandweapon {
    top: 85px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    left: 5px;
}

#righthandweapon {
    top: 85px;
    background-color: black;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    right: 5px;
}

#experience {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
    color: #{$color};
    text-align: left;
}

#experience div span:nth-child(2) {
    padding-right: 2px;
}

#bars {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    padding: 2px;
    color: #{$color};
    text-align: left;
}

.combat-bar {
    height: 34px;
    width: 100%;
    margin-bottom: 2px;
}

.combat-name {
    right: 1px;
    left: 38px;
}

.combat-name:first-letter {
    text-transform: capitalize;
}

.combat-icon {
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #{$borderColor};
}

.combat-bar .progressbar {
    right: 1px;
    left: 38px;
    font-size: 0.75em;
    bottom: 2px;
}

#body {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: black;
    border: 1px solid #{$borderColor};
    padding: 2px;
}

.progressbar {
    border: 1px solid #{$borderColor};
}

#hp-status {
    text-align: left;
    color: #{$color};
}

.progressbar .progressbar-text {
    left: 20px;
    right: 0px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value {
    height: 100%;
    width: 0%;
    background-color: #{$color};
}

#lagMeter {
    bottom: 3px;
    right: 3px;
    left: 3px;
    font-size: 0.75em;
}

#lagMeter.progressbar .progressbar-text {
    left: 0;
}

#party.hasmembers {
    border-bottom: 1px solid #{$borderColor};
    padding-bottom: 4px;
}

/** end stats **/

/** button stats */

#history-dropup {
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;  
}

#history-dropup .fa {
    margin-top: 1px;
}

#history-dropup:hover {
    background-color: #3f3f46;
}

#history-dropup:active {
    background-color: #2a2d2e;
}

#btnTriggers, #btnParsing {
    text-align: center;
    border-radius: 4px;
    border: 0px;
    height: 16px;
    width: 16px;
    background-color: transparent;
}

#btnTriggers.on, #btnParsing.on {
    background-color: #3f3f46;
    color: white;
}

#btnTriggers:hover, #btnParsing:hover, #btnTriggers.on:active, #btnParsing.on:active {
    background-color: #3f3f46;
    color: white;
}

#btnTriggers:active, #btnParsing:active, #btnTriggers.on:hover, #btnParsing.on:hover {
    background-color: #2a2d2e;
    color: white;
}

#advedit {
    text-align: center;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    height: 16px;
    width: 16px;
}

#advedit .fa {
    margin-top: 1px;
}

#advedit:hover {
    background-color: #3f3f46;
}

#advedit:active {
    background-color: #2a2d2e;
}

.button {
    color: #{$color};
    background-color: #252526;
    border: 1px solid transparent;
    margin-bottom: 2px;
}

.button svg {
    fill: #{$color};
}

.button img,
.button-icon {
    margin-top: 5px;
    margin-left: 5px;
}

.button:hover, .button.on:hover {
    border: 1px solid #{$borderColor};
    background-color: #5a5d5e;
    color: #fff;
}

.button:hover .overlay {
    background-color: rgba(255,255,255, 0.40);
    border: 1px solid #{$borderColor};
}

.button:hover svg, .button.on:hover svg {
    fill: #fff;
}

.button:active, .button:focus {
    color: #3f3f46;
    background-color: #{$color};
}

.button:active svg, .button:focus svg {
    fill: #3f3f46;
}

.button.on {
    color: #5a5d5e;
    background-color: #{$color};
    border: 1px solid transparent;
}

.button.on svg {
    fill: #5a5d5e;
}

.button.on:active, .button.on:focus {
    background-color: #3f3f46;
    color: #{$color};
}

.button.on:active svg, .button.on:focus svg {
    fill: #{$color};
}

/** button end */

#status-ghost-bar {
    background-color: #d4d4d4;
}

#status-drag-bar {
    left: -2px;
    transition: 0s background-color;
}

#status-drag-bar:hover{
    background-color: #d4d4d4;    
    transition-delay: 1s;
}

/** Grip button */
.drag-grip {
    left: 2px;
    top: 2px;    
}

.drag-grip:focus {
    color: #{$color};
}

.drag-grip span {
    left: 8px;
    top: -6px;
}

.drag-grip svg {
    left: -1px;
    top: -12px;    
}

.drag-grip[style*='display: none']~#bb-scroll-up,
.drag-grip[style*='display: none']~#buttonbar {
    top: 2px;
}

#loader {
    color: #5a5d5e;
    background-color: #{$panelBackground};
}

.loader {
    border: 16px solid #5a5d5e;
    /* Light grey */
    border-top: 16px solid #d4d4d4;
    /* Blue */
}