$images: "./../../assets";
$borderColor: "rgb(204, 204, 204)";
$color: "#333";
$panelBackground: "rgb(240, 240, 240)";
$panelInsetBackground: "rgb(240, 240, 240)";

body {
    background-color: #{$panelBackground};
}

#display {
    left: 34px;
    right: 165px;
    top: 2px;
    bottom: 29px;
    border: 1px solid #{$borderColor};
    margin-bottom: 4px;
}

#display-split-bar {
    border-top: 1px solid #{$borderColor};
    border-bottom: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
}

#display-split-ghost-bar {
    border-top: 1px solid #{$borderColor};
    border-bottom: 1px solid #{$borderColor};
    background-color: #666;
}

#display-split-bar:hover,
#display-split-bar:active,
#display-split-bar:focus {
    background-color: #666;    
    transition-delay: 1s;
}

#command {
    height: 24px;
    bottom: 0px;
    left: 34px;
    right: 165px;
    background-color: transparent;
    border: 0px;
    padding: 2px;
}

#commandBoxButtons  {
    position: absolute;
    right: 0;
    top: -1px;
}

#commandbox {
    left: 0px;
    top: 0px;
    right: 116px;
    bottom: 0px;
    background-color: white;
}

#commandMeasure {
    min-height: 24px;
}

#commandInput {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #{$color};
    box-sizing: border-box;
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#commandInput:focus {
    border: 1px solid adadad;
}

#buttonbar {
    top: 18px;
    left: 0px;
    bottom: 0px;
    background-color: #{$panelBackground};
    padding: 1px;
}

#bb-scroll-up {
    left: 1px;
    top: 18px;
    width: 31px;
    margin-top: 0;
}

#bb-scroll-down {
    left: 1px;
    bottom: 0px;
    width: 31px;
    margin-bottom: 0;
}

/* Let's get this party started */
.scroll-track {
    background-color: #{$panelBackground};
}

.scroll-thumb {
    background: #aaa;
    border: 1px solid #{$borderColor};
}

.scroll-thumb:hover {
    background: #e6e6e6;
}

.scroll-thumb:active {
    background-color: #848282;
}

.scroll-corner {
    background-color: #{$panelBackground};
    color: #fff;
}

.scroll-split-button {
    font-size: 9px;
    text-align: center;
    background-color: ButtonFace !important;
    color: ButtonText;
    box-sizing: border-box;
    border-top: 1px solid ButtonHighlight;
    border-left: 1px solid ButtonHighlight;
    border-right: 1px solid ButtonShadow;
    border-bottom: 1px solid ButtonShadow;
    z-index: 2000;
    cursor: default;
}

.scroll-split-button:active, .scroll-split-button:focus {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.scroll-split-button.active {
    background-color: #666;
    border-color: #ccc;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.scroll-split-button.active:active,
.scroll-split-button.active:focus {
    background-color: #666;
    border-color: #fff;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.scroll-split-button:hover,
.scroll-split-button:focus,
.scroll-split-button.active:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-decoration: none;
}

.scroll-split-button.disabled, .scroll-split-button.disabled:hover, .scroll-split-button.disabled:active, .scroll-split-button.disabled:focus {
    background-color: #{$panelBackground};
    color: #a0a0a0;
    border-top: 1px solid ButtonHighlight;
    border-left: 1px solid ButtonHighlight;
    border-right: 1px solid ButtonShadow;
    border-bottom: 1px solid ButtonShadow;
}

.scroll-horizontal {
    border-top: 0px;
}

.scroll-vertical {
    border-left: 0px;
}

.scroll-disabled .scroll-thumb, .scroll-disabled .scroll-thumb:hover, .scroll-disabled .scroll-thumb:active {
    background: #888;
    border: 0px;
}

#display::-webkit-scrollbar,
#bars::-webkit-scrollbar,
#commandInput::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */

#display::-webkit-scrollbar-track,
#bars::-webkit-scrollbar-track,
#commandInput::-webkit-scrollbar-track {
    background-color: #{$panelBackground};
}

/* Handle */

#display::-webkit-scrollbar-thumb,
#bars::-webkit-scrollbar-thumb,
#commandInput::-webkit-scrollbar-thumb {
    background: #aaa;
    border: 1px solid #{$borderColor};
}

#display::-webkit-scrollbar-thumb:hover,
#bars::-webkit-scrollbar-thumb:hover,
#commandInput::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
}

#display::-webkit-scrollbar-thumb:active,
#bars::-webkit-scrollbar-thumb:active,
#commandInput::-webkit-scrollbar-thumb:active {
    background: #848282;
}

#display::-webkit-scrollbar-thumb:window-inactive,
#bars::-webkit-scrollbar-thumb:window-inactive,
#commandInput::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
}

#display::-webkit-scrollbar-corner,
#bars::-webkit-scrollbar-corner,
#commandInput::-webkit-scrollbar-corner {
    background-color: #{$panelBackground};
    border-top: 1px solid #{$borderColor};
    border-left: 1px solid #{$borderColor};
}

.find {
    top: 5px;
    right: 20px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
    color: #{$color};
    text-shadow: 0 1px 0 #fff;
}

.find-drag-grip svg {
    fill: #bbb ;
}

.find-drag-grip:hover svg {
    fill: #333;
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: white;
    color: black;
    padding: 2px 2px;
    height: 16px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid adadad;
    color: #{$color};
}

.find button:hover,
.find button.active:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-shadow: 0 1px 0 #fff;
}

.find button.active:hover {
    color: #{$color};
    background-color: #a0a0a0;
    background-position: 0 -15px;
    color: #fff;
    border-color: #adadad;
    text-shadow: 0 1px 0 #333;
}

.find button:active {
    border: 1px solid #0052A4;
}

.find button:disabled,
.find button:disabled:hover {
    background-color: inherit !important;
    background-image: none;
    box-shadow: none;
    opacity: .25;
    border: 1px solid transparent;
    color: #666;
}

.find button.active {
    background-color: #666;
    border-color: #ccc;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

/* begin status */

#status {
    width: 164px;
    text-align: center;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #{$panelBackground};
    padding: 2px;
}

#status-border {
    width: 168px;
    display: none;
}

#environment {
    height: 50px;
    top: 3px;
    left: 3px;
    right: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
}

#character-name {
    color: #{$color};
    padding: 0 22px;
    font-size: 1.2em;
}

#lefthandweapon {
    top: 85px;
    background-color: #666;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    left: 5px;
}

#righthandweapon {
    top: 85px;
    background-color: #666;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    right: 5px;
}

#experience {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
    padding: 2px;
    color: #{$color};
    text-align: left;
}

#experience div span:nth-child(2) {
    padding-right: 2px;
}

#bars {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    padding: 2px;
    color: #{$color};
    text-align: left;
}

.combat-bar {
    height: 34px;
    width: 100%;
    margin-bottom: 2px;
}

.combat-name {
    right: 1px;
    left: 38px;
}

.combat-name:first-letter {
    text-transform: capitalize;
}

.combat-icon {
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #{$borderColor};
}

.combat-bar .progressbar {
    right: 1px;
    left: 38px;
    font-size: 0.75em;
    bottom: 2px;
}

#body {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#overall {
    background: #aaa;
    border-radius: 4px;
    margin-bottom: 2px;
}

.progressbar {
    border: 1px solid #{$borderColor};
}

#hp-status {
    text-align: left;
    color: #{$color};
}

.progressbar .progressbar-text {
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value {
    height: 100%;
    width: 0%;
    background-color: white;
}

#lagMeter {
    bottom: 3px;
    right: 3px;
    left: 3px;
    font-size: 0.75em;
}

#lagMeter.progressbar .progressbar-text {
    left: 0;
}

#party.hasmembers {
    border-bottom: 1px solid #{$borderColor};
    padding-bottom: 4px;
}

#fullbody {
    filter: drop-shadow(0px 0px 0px black);
}

/** end stats **/

/** button stats */

#history-dropup {
    font-size: 22px;
    line-height: 22px;
    height: 24px;
}

#history-dropup .fa {
    margin-top: 3px;
    font-size: 18px;
}

#btnTriggers, #btnParsing {
    text-align: center;
    height: 24px;
    width: 24px;
    font-size: 22px;
    line-height: 22px;
}

#advedit {
    height: 24px;
    width: 24px;
    font-size: 22px;
    line-height: 22px;
}

#advedit .fa, #btnTriggers .fa, #btnParsing .fa {
    margin-top: 3px;
    font-size: 18px;
}

.button {
    color: #{$color};
    margin-bottom: 2px;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    font-weight: 400;
    white-space: nowrap;
    border: 1px solid #ccc;
    width: 31px;
}

.button img,
.button-icon {
    margin-top: 5px;
    margin-left: 5px;
}

.button svg {
    fill: #{$color};
    filter: drop-shadow(1px 1px 0px #fff);
}

.button:active, .button:focus {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button.on {
    background-color: #666;
    border-color: #ccc;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.button.on svg {
    fill: #fff;
    filter: drop-shadow(1px 1px 0px #{$color});
}

.button.on:hover svg {
    fill: #{$color};
    filter: drop-shadow(1px 1px 0px #fff);
}

.button.on:active,
.button.on:focus {
    background-color: #666;
    border-color: #fff;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.button:hover,
.button:focus,
.button.on:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-decoration: none;
}

.button:hover .overlay, .button.on:hover {
    background-color: rgba(255,255,255, 0.40);
}

#connect img {
    background: url(#{$images}/icons/png/connect.black.png) no-repeat;
    padding-left: 50px;
    background-position: 5px -1px;
}

#disconnect img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/disconnect.black.png) no-repeat;
    background-position: 3px -3px;
}

#preferences img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/preferences.black.png) no-repeat;
    background-position: 5px -1px;
}

#log img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/log.black.png) no-repeat;
    background-position: 5px -1px;
}

#clear img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/clear.black.png) no-repeat;
    background-position: 5px -1px;
}

#lock[title="Unlock display"] img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/unlock.black.png) no-repeat;
    background-position: 5px -1px;
}

#lock[title="Lock display"] img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/lock.black.png) no-repeat;
    background-position: 5px -1px;
}

#map img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/map.black.png) no-repeat;
    background-position: 5px -1px;
}

/** button end */

#status-ghost-bar {
    background-color: #666;
}

#status-drag-bar {
    left: 0px;
    transition: 0s background-color;
}

#status-drag-bar:hover{
    background-color: #666;    
    transition-delay: 1s;
}

/** Grip button */
.drag-grip {
    left: 1px;
    top: 2px;    
}

.drag-grip:focus {
    color: #{$color};
}

.drag-grip span {
    left: 8px;
    top: -6px;
}

.drag-grip svg {
    left: -1px;
    top: -12px;    
}

.drag-grip[style*='display: none']~#bb-scroll-up,
.drag-grip[style*='display: none']~#buttonbar {
    top: 0;
}

#loader {
    color: #333;
    background-color: #{$panelBackground};;
}

.loader {
    border: 16px solid #666;
    /* Light grey */
    border-top: 16px solid #e0e0e0;
    /* Blue */
}