$images: "./../../assets";
$borderColor: "rgb(204, 204, 204)";
$color: "#333";
$panelBackground: "rgb(240, 240, 240)";
$panelInsetBackground: "rgb(240, 240, 240)";

body {
    background-color: #{$panelBackground};
}

#display {
    left: 34px;
    right: 165px;
    top: 2px;
    bottom: 29px;
    border: 1px solid #{$borderColor};
}

#display-border {
    display: none;
    right: 168px;
}

#display-split-bar,
#display-split-ghost-bar {
    border-top: 1px solid #{$borderColor};
    border-bottom: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
}

#command {
    height: 24px;
    bottom: 2px;
    left: 34px;
    right: 165px;
    background-color: transparent;
    border: 0px;
}

#commandbox {
    left: 0px;
    top: 0px;
    right: 26px;
    bottom: 0px;
    background-color: white;
}

#commandleft,
#commandright {
    display: none;
}

#commandinput {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #{$color};
    box-sizing: border-box;
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#commandinput:focus {
    border: 1px solid adadad;
}

#buttonbar {
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #{$panelBackground};
    padding: 1px;
}


/* Let's get this party started */
.scroll-track {
    background-color: #{$panelBackground};
}

.scroll-thumb {
    background: #aaa;
    border: 1px solid #{$borderColor};
}

.scroll-thumb:hover {
    background: #e6e6e6;
}

.scroll-thumb:active {
    background-color: #848282;
}

.scroll-corner {
    background-color: #{$panelBackground};
}

.scroll-horizontal {
    border-top: 0px;
}

.scroll-vertical {
    border-left: 0px;
}

.scroll-disabled .scroll-thumb, .scroll-disabled .scroll-thumb:hover, .scroll-disabled .scroll-thumb:active {
    background: #888;
    border: 0px;
}

#display::-webkit-scrollbar,
#bars::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


/* Track */

#display::-webkit-scrollbar-track,
#bars::-webkit-scrollbar-track {
    background-color: #{$panelBackground};
}


/* Handle */

#display::-webkit-scrollbar-thumb,
#bars::-webkit-scrollbar-thumb {
    background: #aaa;
    border: 1px solid #{$borderColor};
}

#display::-webkit-scrollbar-thumb:hover,
#bars::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
}

#display::-webkit-scrollbar-thumb:active,
#bars::-webkit-scrollbar-thumb:active {
    background: #848282;
}


#display::-webkit-scrollbar-thumb:window-inactive,
#bars::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
}

#display::-webkit-scrollbar-corner,
#bars::-webkit-scrollbar-corner {
    background-color: #{$panelBackground};
    border-top:1px solid #{$borderColor};
    border-left:1px solid #{$borderColor};
}

#display-find {
    top: 5px;
    right: 20px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
    color: #{$color};
    text-shadow: 0 1px 0 #fff;
}

#display-find input,
#display-find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: white;
    color: black;
    padding: 2px 2px;
    height: 16px;
    top: -1px;
    border-radius: 2px;
}

#display-find input:focus {
    border: 1px solid adadad;
    color: #{$color};
}

#display-find button .fa {
    margin-top: 3px;
}

#display-find button {
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    line-height: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

#display-find button:hover,
#display-find button.active:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-shadow: 0 1px 0 #fff;
}

#display-find button.active:hover {
    color: #{$color};
    background-color: #a0a0a0;
    background-position: 0 -15px;
    color: #fff;
    border-color: #adadad;
    text-shadow: 0 1px 0 #333;
}

#display-find button:active {
    border: 1px solid #0052A4;
}

#display-find button:disabled,
#display-find button:disabled:hover {
    background-color: inherit !important;
    background-image: none;
    box-shadow: none;
    opacity: .25;
    border: 1px solid transparent;
    color: #666;
}

#display-find button.active {
    background-color: #666;
    border-color: #ccc;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

#display-find-case {
    font-size: 10px;
}

#display-find-word {
    text-decoration: overline underline;
    font-size: 10px;
}

.find-highlight {
    border-radius: 4px;
    background: rgb(171, 102, 31);
}

.find-no-results {
    color: #F08080;
}

.find-highlight.current {
    border-radius: 4px;
    background: rgb(116, 192, 114);
}


/* begin status */

#status {
    width: 164px;
    text-align: center;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #{$panelBackground};
    padding: 2px;
}

#status-border {
    width: 168px;
    display: none;
}

.day {
    background-image: url("#{$images}/status/daybg.png");
}

.day #environmentcenter {
    background-image: url("#{$images}/status/sun.png");
}

.night {
    background-image: url("#{$images}/status/nightbg.png");
}

.twilight {
    background-image: url("#{$images}/status/sunsetbg.png");
}

.dawn {
    background-image: url("#{$images}/status/sunrisebg.png");
}

.twilight #environmentcenter,
.dawn #environmentcenter {
    background-image: url("#{$images}/status/sunset.png");
}

.moon1-full #environmentleft {
    background-image: url("#{$images}/status/redmoonfull.png");
}

.moon1-waning #environmentleft {
    background-image: url("#{$images}/status/redmoonwaning.png");
}

.moon1-waxing #environmentleft {
    background-image: url("#{$images}/status/redmoonwaxing.png");
}

.moon2-full #environmentcenter {
    background-image: url("#{$images}/status/bluemoonfull.png");
}

.moon2-waning #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaning.png");
}

.moon2-waxing #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaxing.png");
}

.moon3-full #environmentright {
    background-image: url("#{$images}/status/greenmoonfull.png");
}

.moon3-waning #environmentright {
    background-image: url("#{$images}/status/greenmoonwaning.png");
}

.moon3-waxing #environmentright {
    background-image: url("#{$images}/status/greenmoonwaxing.png");
}

.weather-snow #environmentweather {
    background-image: url("#{$images}/status/weathersnow.png");
}

.weather-snow.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersnowhard.png");
}

.weather-hail #environmentweather {
    background-image: url("#{$images}/status/weatherhail.png");
}

.weather-hail.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherhailhard.png");
}

.weather-rain #environmentweather {
    background-image: url("#{$images}/status/weatherrain.png");
}

.weather-rain.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherrainhard.png");
}

.weather-sand #environmentweather {
    background-image: url("#{$images}/status/weathersand.png");
}

.weather-sand.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersandhard.png");
}

.weather-sleet #environmentweather {
    background-image: url("#{$images}/status/weatherssleet.png");
}

.weather-sleet.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersleethard.png");
}

#environment {
    height: 50px;
    top: 3px;
    left: 3px;
    right: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
}

#character-name {
    color: #{$color};
    padding: 0 22px;
    font-size: 1.2em;
}

#character-name::first-letter {
    text-transform: uppercase;
}

.weapon-dominant {
    border-color: red !important;
}

.weapon-large-sword {
    background-image: url(#{$images}/status/icon_sword_long2.png);
}

.weapon-shield {
    background-image: url(#{$images}/status/icon_shield.png);
}

.weapon-melee {
    background-image: url(#{$images}/status/icon_melee.png);
}

.weapon-miscellaneous {
    background-image: url(#{$images}/status/icon_misc.png);
}

.weapon-polearm {
    background-image: url(#{$images}/status/icon_halberd2.png);
}

.weapon-small-sword {
    background-image: url(#{$images}/status/icon_sword_short3.png);
}

.weapon-spear {
    background-image: url(#{$images}/status/icon_spear2.png);
}

.weapon-axe {
    background-image: url(#{$images}/status/icon_axe1.png);
}

.weapon-blunt {
    background-image: url(#{$images}/status/icon_bigclub1.png);
}

.weapon-knife {
    background-image: url(#{$images}/status/icon_dagger1.png);
}

.weapon-bow {
    background-image: url(#{$images}/status/icon_Bow3.png);
}

.weapon-crossbow {
    background-image: url(#{$images}/status/icon_XBow2.png);
}

.weapon-flail {
    background-image: url(#{$images}/status/icon_bullwhip.png);
}

.weapon-staff {
    background-image: url(#{$images}/status/icon_staff2.png);
}

#lefthandweapon {
    top: 85px;
    background-color: #666;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    left: 5px;
}

#righthandweapon {
    top: 85px;
    background-color: #666;
    border: 1px solid #{$borderColor};
    width: 32px;
    height: 32px;
    right: 5px;
}

#experience {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
    padding: 2px;
    color: #{$color};
    text-align: left;
}

#experience div span:nth-child(2) {
    padding-right: 2px;
}

#bars {
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    padding: 2px;
    color: #{$color};
    text-align: left;
}

.combat-bar {
    height: 34px;
    width: 100%;
    margin-bottom: 2px;
}

.combat-name {
    right: 1px;
    left: 38px;
    font-size: 0.75em;
}

.combat-name:first-letter {
    text-transform: capitalize;
}

.combat-icon {
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #{$borderColor};
}

.combat-bar .progressbar {
    right: 1px;
    left: 38px;
    font-size: 0.75em;
    bottom: 2px;
}

.combat-bar .progressbar .progressbar-text {
    left: 0;
}

#body {
    top: 3px;
    right: 3px;
    left: 3px;
    background-color: #{$panelInsetBackground};
    border: 1px solid #{$borderColor};
    padding: 2px;
}

#health {
    left: 2px;
}

#armor {
    right: 2px;
}

#overall {
    background: #aaa;
    border-radius: 4px;
    margin-bottom: 2px;
}

.health-100 {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.health-80-99 {
    fill: rgb(252, 71, 29);
    color: rgb(252, 71, 29);
    stroke: rgb(252, 71, 29);
}

.health-60-79 {
    fill: rgb(252, 165, 40);
    color: rgb(252, 165, 40);
    stroke: rgb(252, 165, 40);
}

.health-40-59 {
    fill: rgb(251, 217, 48);
    color: rgb(251, 217, 48);
    stroke: rgb(251, 217, 48);
}

.health-20-39 {
    fill: rgb(251, 255, 55);
    color: rgb(251, 255, 55);
    stroke: rgb(251, 255, 55);
}

.health-1-19 {
    fill: rgb(167, 255, 69);
    color: rgb(167, 255, 69);
    stroke: rgb(167, 255, 69);
}

.health-full {
    fill: rgb(0, 255, 31);
    color: rgb(0, 255, 31);
    stroke: rgb(0, 255, 31);
}

.armor-unarmored {
    fill: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    stroke: rgb(128, 0, 0);
}

.armor-barely {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.armor-slightly {
    fill: rgb(128, 128, 0);
    color: rgb(128, 128, 0);
    stroke: rgb(128, 128, 0);
}

.armor-somewhat {
    fill: rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    stroke: rgb(255, 255, 0);
}

.armor-moderately {
    fill: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    stroke: rgb(0, 128, 128);
}

.armor-fairly {
    fill: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
    stroke: rgb(0, 255, 255);
}

.armor-adequately {
    fill: rgb(0, 128, 0);
    color: rgb(0, 128, 0);
    stroke: rgb(0, 128, 0);
}

.armor-well {
    fill: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    stroke: rgb(0, 255, 0);
}

.armor-considerably {
    fill: rgb(0, 0, 128);
    color: rgb(0, 0, 128);
    stroke: rgb(0, 0, 128);
}

.armor-significantly {
    fill: rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    stroke: rgb(0, 0, 255);
}

.armor-completely {
    fill: rgb(128, 128, 110);
    color: rgb(128, 128, 110);
    stroke: rgb(128, 128, 110);
}

.armor-extensively {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}

.progressbar {
    height: 13px;
    font-size: 0.75em;
    border: 1px solid #{$borderColor};
    height: 13px;
    width: 118px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /* future proofing */
    background: -webkit-linear-gradient(left, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
}

#hp-status {
    text-align: left;
    color: #{$color};
}

.progressbar .progressbar-text {
    left: 20px;
    right: 0px;
    text-align: center;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value {
    height: 100%;
    width: 0%;
    background-color: white;
}

#lagMeter {
    bottom: 3px;
    right: 3px;
    left: 3px;
}

#lagMeter.progressbar .progressbar-text {
    left: 0;
}

#party.hasmembers {
    border-bottom: 1px solid #{$borderColor};
    padding-bottom: 4px;
}

#fullbody {
    filter: drop-shadow(0px 0px 0px black);
}


/** end stats **/


/** button stats */

#advedit {
    right: 0px;
    top: 0px;
    height: 24px;
    width: 24px;
    font-size: 22px;
    line-height: 22px;
}

#advedit .fa {
    margin-top: 3px;
    font-size: 18px;
}

.button {
    color: #{$color};
    margin-bottom: 2px;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    font-weight: 400;
    white-space: nowrap;
    border: 1px solid #ccc;
}

.button img,
.button-icon {
    margin-top: 5px;
    margin-left: 5px;
}

.button svg {
    fill: #{$color};
    filter: drop-shadow(1px 1px 0px #fff);
}

.button:active, .button:focus {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.button.on {
    background-color: #666;
    border-color: #ccc;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.button.on svg {
    fill: #fff;
    filter: drop-shadow(1px 1px 0px #{$color});
}

.button.on:hover svg {
    fill: #{$color};
    filter: drop-shadow(1px 1px 0px #fff);
}

.button.on:active,
.button.on:focus {
    background-color: #666;
    border-color: #fff;
    background-image: none;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.button:hover,
.button:focus,
.button.on:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-decoration: none;
}

#connect img {
    background: url(#{$images}/icons/png/connect.black.png) no-repeat;
    padding-left: 50px;
    background-position: 5px -1px;
}

#disconnect img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/disconnect.black.png) no-repeat;
    background-position: 3px -3px;
}

#preferences img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/preferences.black.png) no-repeat;
    background-position: 5px -1px;
}

#log img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/log.black.png) no-repeat;
    background-position: 5px -1px;
}

#clear img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/clear.black.png) no-repeat;
    background-position: 5px -1px;
}

#lock[title="Unlock display"] img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/unlock.black.png) no-repeat;
    background-position: 5px -1px;
}

#lock[title="Lock display"] img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/lock.black.png) no-repeat;
    background-position: 5px -1px;
}

#map img {
    padding-left: 50px;
    background: url(#{$images}/icons/png/map.black.png) no-repeat;
    background-position: 5px -1px;
}


/** button end */