/* --- Start CSS for ansi display --- */

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.animate .ansi-blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-duration: 1s;
}

.display-background > span > span {
    height: 100%;
}

.display-view > span > span, .display-background > span span {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
}

.display-view > span, .display-background > span {
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    box-sizing: border-box;
    line-height: normal;
    white-space: pre;
    min-width: 100%;
    clear: both;
    position: absolute;
}

.display-view > span > span .hr {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
}

.display-view > span > hr {
    border: 0px;
}

.display-background > span {
    overflow: hidden;
}

.display-view > span .b {
    font-weight: bold;
}

.display-view > span .i {
    font-style: italic;
}

.display-view > span .o {
    text-decoration: overline;
}

.display-view > span .u {
    text-decoration: underline;
}

.display-view > span .du {
    text-decoration: underline;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0px;
}

.display-view > span .s {
    text-decoration: line-through;
}

.display-view > span .o.du {
    text-decoration: underline overline;
}

.display-view > span .u.o {
    text-decoration: underline overline;
}

.display-view > span .o.s {
    text-decoration: overline line-through;
}

.display-view > span .du.s {
    text-decoration: underline line-through;
}

.display-view > span .s.u {
    text-decoration: underline line-through;
}

.display-view > span .du.u.o {
    text-decoration: underline overline;
}

.display-view > span .du.s.u {
    text-decoration: underline line-through;
}

.display-view > span .du.o.s {
    text-decoration: underline overline line-through;
}

.display-view > span .u.s.o {
    text-decoration: underline overline line-through;
}

.display-view > span .du.o.s.u {
    text-decoration: underline overline line-through;
}

/* --- End CSS for ansi display --- */

.display-view > span a,
.display-view > span a:link,
.display-view > span a *,
.display-view > span a:link * {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.URLLink,
.URLLink:link,
.URLLink *,
.URLLink:link * {
    text-decoration: underline;
    cursor: pointer;
}
