/* --- Start CSS for ansi display --- */

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.animate .ansi-blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

.background-line .ansi {
    height: 100%;
}

.ansi {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-top: 1px;
}

.line {
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    box-sizing: border-box;
    line-height: normal;
    white-space: pre;
    min-width: 100%;
    clear: both;
    position: absolute;
}

.line hr {
    border: 0px;
}

.background-line {
    position: absolute;
    overflow: hidden;
    clear: both;
}


/* --- End CSS for ansi display --- */

.line a,
.line a:link,
.line a *,
.line a:link * {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.URLLink,
.URLLink:link,
.URLLink *,
.URLLink:link * {
    text-decoration: underline;
    cursor: pointer;
}