.button
{
    float: left;
    text-decoration: none;
    background-image: url(./../../assets/button.png);
    color: wheat;
    width: 34px;
    height: 34px;
    background-color: maroon;
    display: inline-block;
    text-align: center;
}

.button.on
{
    background-color: #d70000;
    color: wheat;
}

.button.on:hover
{
    background-color: #790000;
    color: wheat;
}

.button.on:active{
    background-color: maroon;
    color: wheat;
}

.button:hover
{
    background-color: #d70000;
    color: wheat;
}

.button:active
{
    background-color: #790000;
    color: wheat;
}

.button:focus
{
    color: wheat;
}

.button .fa, .button-icon
{
    margin-top: 7px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size:20px;    
}

.button img, .button-icon
{
    /*margin-left: 7px;*/
    margin-top: 7px;
    width: 20px;
    height: 20px;
    font-size:20px;
}

.button-stretch img, .button-stretch .button-icon
{
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 100% !important;
}