$images: "./../../assets";
$borderColor: "rgb(204, 204, 204)";
$color: "#333";
$panelBackground: "rgb(240, 240, 240)";
$panelInsetBackground: "rgb(240, 240, 240)";

body {
    background-color: white !important;
}

#toolbar {
    background-color: menu;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#toolbar .btn {
    outline: none !important;
}

#toolbar button {
    min-width: 26px;
}

#toolbar input {
    padding: 0px 2px;
    margin: 0px;
    width: 60px;
    float: left;
    height: 22px;
    margin-left: 5px;
}

#toolbar select {
    float: left;
    min-width: 100px;
    width: auto;
    padding: 0px 2px;
    margin: 0px;
    height: 22px;
    margin-left: 5px;
}

#toolbar label {
    margin-bottom: 0 !important;
}

#chat-display-container {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    -webkit-user-select: auto;
    user-select: auto;
    color: #BBBBBB;
    font-family: "Courier New", monospace;
    text-align: left;
    font-size: 1em;
    background-color: black;
    text-shadow: none;
}

#chat-display {
    z-index: 2;
    overflow: hidden;
    -webkit-user-select: auto;
    user-select: auto;
    color: #BBBBBB;
    font-family: "Courier New", monospace;
    text-align: left;
    font-size: 1em;
    background-color: black;
    text-shadow: none;    
    top: 26px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#chat-display-view {
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;

    /*
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    */
}

#chat-display-background {
    top: 0px;
    z-index: 1;
    left: 0px;
    right: 0px;
    position: absolute;
    pointer-events: none;
}

#chat-display-overlay {
    top: 0px;
    z-index: 2;
    left: 0px;
    right: 0px;
    position: absolute;
    pointer-events: none;
}

#chat-display-split {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    -webkit-user-select: auto;
    user-select: auto;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    color: #BBBBBB;
    border: 0px solid silver;
    font-family: "Courier New", monospace;
    text-align: left;
    font-size: 1em;
    background-color: black;
    text-shadow: none;
    padding: 2px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#chat-display-split-bar {
    background-color: menu;
    height: 4px;
    cursor: ns-resize;
    position: absolute;
    background-color: menu;
    z-index: 1000;
    width: 100%;
    right: 0px;
    box-sizing: border-box;
}

#chat-display-split-ghost-bar {
    height: 4px;
    right: 12px;
    left: 0;
    background-color: transparent;
    opacity: 0.5;
    position: absolute;
    cursor: ns-resize;
    z-index: 9991;
    box-sizing: border-box;
}

#chat-display-split-frame {
    height: 20%;
    min-height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 12px;
    display: none;
    background-color: black;
    overflow: hidden;
    z-index: 10;
}

.find {
    top: 5px;
    right: 20px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
    color: #{$color};
    text-shadow: 0 1px 0 #fff;
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: white;
    color: black;
    padding: 2px 2px;
    height: 22px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid #adadad;
    color: #{$color};
}

.find button .fa {
    margin-top: 3px;
}

.find button {
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    line-height: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

.find button:hover,
.find button.active:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-shadow: 0 1px 0 #fff;
}

.find button.active:hover {
    color: #{$color};
    background-color: #a0a0a0;
    background-position: 0 -15px;
    color: #fff;
    border-color: #adadad;
    text-shadow: 0 1px 0 #333;
}

.find button:active {
    border: 1px solid #0052A4;
}

.find button:disabled,
.find button:disabled:hover {
    background-color: inherit !important;
    background-image: none;
    box-shadow: none;
    opacity: .25;
    border: 1px solid transparent;
    color: #666;
}

.find button.active {
    background-color: #666;
    border-color: #ccc;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.find-count {
    padding: 0px;
}

.find-case {
    font-size: 10px;
}

.find-word {
    text-decoration: overline underline;
    font-size: 10px;
}

.find-highlight {
    border-radius: 4px;
    background: rgb(171, 102, 31);
}

.find-no-results {
    color: #F08080;
}

.find-highlight.current {
    border-radius: 4px;
    background: rgb(116, 192, 114);
}
