$images: "./../../assets";
$borderColor: rgb(204, 204, 204);
$color: #333;
$tabBackground: menu;
$tabHeight: 24;

.cm {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.cm-tabstrip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: #{$tabHeight}px;
    border-bottom: 1px solid $borderColor;
    background: $tabBackground;
    white-space: nowrap;
    overflow: hidden;
}

.cm-tabstrip > div {
    display: inline-block;
    border-right: 1px solid $borderColor;
    margin-top: 2px;
    height: #{$tabHeight - 2}px;
    position: relative;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;    
    
}

.cm-tabstrip > div:last-child {}

.cm-tabstrip > div:first-child {
    border-left: 1px solid $borderColor;
}

.cm-tabstrip > div.active {
    border-bottom: 1px solid $borderColor;
    background-color: $borderColor;
    color: WindowText;
    height: #{$tabHeight}px;
    background-color: window;
}

.cm-tabstrip > div > .title {
    margin-left: 22px;
    margin-top: 3px;
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-size: 11px;
}

.cm-tabstrip > div > .icon {
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
    position: absolute;
    background-size: 16px 16px;
}

.cm-tabstrip > div > .close {
    top: 3px;
    right: 4px;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    display: block;
}

.cm-tabstrip > div.active > .close, .cm-tabstrip > div:hover > .close {
    display: block;
}

.cm-tabpane-container {
    position: absolute;
    top: #{$tabHeight}px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkcyan;
}

.cm-tabpane-container.full {
    top: 0px;
}

.cm-tabpane {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cm-tabpane.active {
    display: block;
}

#cm-scroll-left .fa, #cm-scroll-right .fa {
    margin-top: 4px;
}

#cm-scroll-left, #cm-scroll-right {
    position: absolute;
    bottom: 0;
    height: #{$tabHeight}px;
    display: block;
    width: 12px;
    background-color: $tabBackground;
    z-index: 1;
    font-size: 18px;
    text-align: center;
    margin-top: 6px;
}

#cm-scroll-left:hover, #cm-scroll-right:hover {
    background-color: $borderColor;
    color: white;
}

#cm-scroll-left {
    left: 0;
}

#cm-scroll-right {
    right: 0;
}

.cm-tabstrip.scroll {
    padding-left: 12px;
    padding-right: 12px;
}

.connected-icon {
    background-image: url(#{$images}/icons/png/connected2.png);
}

.connectednonactive-icon {
    background-image: url(#{$images}/icons/png/connectednonactive2.png);
}

.disconnected-icon {
    background-image: url(#{$images}/icons/png/disconnected2.png);
}
