html,
body {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    background-color: grey;
}

::placeholder {
    opacity: 0.5;
}

.btn-toolbar {
    background-color: rgb(245, 245, 245);
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.btn-toolbar .btn {
    outline: none !important;
}

.btn-toolbar button, .panel-heading button {
    min-width: 26px;
}

.btn-toolbar label {
    margin-bottom: 0 !important;
}

.btn-toolbar .label {
    float: left;
    color: black;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

#btn-add-dropdown, .btn-caret {
    min-width: auto !important;
}

#editor-buttons > .btn, #editor-buttons > .btn-group, #editor-buttons > .input-group {
    margin-left: 5px;
}

.btn-toolbar input {
    width: auto;
    display: inline-block;
}

.cm-tabstrip .fa-file-pdf-o {
    color: #cc3e44 !important;
}

.cm-tabstrip .fa-file-excel-o {
    color: #8dc149 !important;
}

.cm-tabstrip .fa-file-word-o {
    color: #519aba !important;
}

.cm-tabstrip .fa-file-image-o {
    color: #a074c4 !important;
}

.cm-tabstrip .fa-file-video-o {
    color: #f55385 !important;
}

.cm-tabstrip .fa-file-archive-o {
    color: #6d8086 !important;
}

.icon-o {
    color: #8dc149 !important;
}

.icon-h {
    color: #a074c4 !important;
}

.icon-c {
    color: #519aba !important;
}

.cm-tabstrip .fa-map-o {
    color: #8dc149 !important;
}

.editor {
    top: 0;
    bottom: 20px;
    left: 0;
    position: absolute !important;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-top: 1px solid #ccc;
}

.output {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 170px;
    padding: 0px;
    cursor: default;
    display: none;
}

.output a {
    padding-right: 5px;
    padding-left: 5px;
}

#output-toolbar {
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}

#output-toolbar .close {
    font-size: 15px;
    float: right;
    padding: 5px;
}

.output-display {
    position: absolute;
    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    outline: none;
    background: white;
}

.output .error {
    color: red;
    text-decoration: none;
    display: block;
}

.output .warning {
    text-decoration: none;
    color: #DDDD00;
    display: block;
}

.output .error:hover, .output .warning:hover {
    text-decoration: underline;
}

.statusbar {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    cursor: default;
    height: 20px;
    border-top: #ccc 1px solid;
    background-color: rgb(245, 245, 245);
}

.statusbar span {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
}

.statusbar span.center {
    float: left;
}

.statusbar span.left, .statusbar div.left {
    border-right: #ccc 1px solid;
    float: left;
}

.statusbar span.right, .statusbar div.left {
    float: right;
    border-left: #ccc 1px solid;
    text-align: center;
}

#statusbar-location {
    min-width: 100px;
}

#statusbar-file {
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    direction: rtl;
}

.ace_status-indicator {
    float: right;
}

.cm {
    top: 26px !important;
    bottom: 20px;
}

.cm-tabpane-container {
    background-color: grey;
    bottom: 1px;
}

.cm-tabpane {
    background-color: #f5f5f5;
}

.cm-tabstrip li {
    opacity: 1;
    color: silver;
}

.cm-tabstrip li.changed {
    background-color: lighten(rgb(218, 255, 181), 10%) !important;
    border-color: lighten(rgb(119, 168, 69), 10%) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.new {
    background-color: lighten(rgb(178, 226, 255), 10%) !important;
    border-color: lighten(rgb(94, 185, 242), 10%) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.changed.active {
    background-color: rgb(218, 255, 181) !important;
    border-color: rgb(119, 168, 69) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.new.active {
    background-color: rgb(178, 226, 255) !important;
    border-color: rgb(94, 185, 242) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.active {
    background-color: rgb(249, 242, 217);
    border-color: rgb(247, 216, 106);
    opacity: 1;
    color: black;
}

#btm-drag-bar {
    background-color: transparent;
    height: 3px;
    width: 100%;
    cursor: row-resize;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#btm-ghost-bar {
    height: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: row-resize;
    z-index: 999;
}

.splitter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.splitter-panel {
    position: absolute;
    background-color: #f5f5f5;
}

.spitter-drag-bar {
    background-color: transparent;
    position: absolute;
    z-index: 100;
    background-color: #f5f5f5;
    outline: none;
}

.splitter-ghost-bar {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 999;
    outline: none;
}

.form-control-feedback,
.form-error {
    display: none;
}

.has-error .form-control-feedback {
    display: inline;
    top: 20px;
}

.has-error .form-error {
    display: block;
}

.aura-error,
.form-error,
.has-error a {
    color: #A94442;
}

.has-error .input-group .form-control-feedback {
    top: -2px;
    right: 30px;
}

dialog .close {
    outline: none !important;
}

.splash-mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 9000;
}

.splash-screen {
    display: block;
    background-color: #e6e6e6;
    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 368px;
    height: 120px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.splash-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 10000;
    text-align: center;
}

.splash-screen h1, .splash-screen h3, .splash-screen h6 {
    margin: 0px;
}

.splash-screen h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#splashProgress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

#splashProgress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#splashProgress[value]::-webkit-progress-value {
    border-radius: 4px;
    background-color: #09c;
}

.monaco-editor {
    border-top: 1px solid #ccc;
}

.monaco-editor .margin-view-overlays .current-line {
    background-color: rgba(0, 0, 0, 0.071);
}

.editor-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

/*
cause test to be brighter but more bold looking
-webkit-text-stroke: 0.2px;
*/

.map {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.x-axis {
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    height: 32px;
    position: absolute;
    top: 0;
    left: 32px;
    border-bottom: 1px black solid;
    z-index: 1;
    right: 0;
}

.x-axis div {
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    color: red;
    padding-top: 14px;
    font-size: 8pt;
    cursor: default;
}

.y-axis {
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    width: 32px;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    border-right: 1px black solid;
    z-index: 1;
}

.y-axis div {
    height: 32px;
    width: 28px;
    float: left;
    text-align: right;
    padding-top: 8px;
    color: blue;
    font-size: 8pt;
    box-sizing: border-box;
    cursor: default;
}

.c-axis {
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.map-container {
    box-sizing: border-box;
    position: absolute;
    left: 30px;
    top: 30px;
    bottom: 0;
    overflow: auto;
    background-color: white;
    right: 0;
}

.x-axis-highlight {
    display: none;
    width: 32px;
    top: 0px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

.y-axis-highlight {
    display: none;
    height: 32px;
    top: 0px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.map-canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    outline: none;
}

.room-item {
    text-decoration: underline;
    color: white;
}

.room-short {
    width: 100%;
    color: rgb(128, 0, 128);
}

.room-long {
    width: 100%;
    color: rgb(192, 192, 192);
}

.room-smell {
    width: 100%;
    color: rgb(200, 120, 0);
}

.room-sound {
    width: 100%;
    color: rgb(0, 128, 128);
}

.room-exits {
    width: 100%;
    color: rgb(0, 128, 0);
}

.raw {
    left: 0;
    right: 0;
    bottom: 0;
    top: 27px;
    position: absolute;
    display: none;
    width: 100%;
    resize: none;
    white-space: nowrap;
    border: 0;
    outline: none;
}

.virtual-editor-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 26px;
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
}

.room-preview {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0px;
    bottom: 0;
    right: 0;
    top: 0px;
    z-index: 20;
    overflow: auto;
    background-color: black;
    padding: 0px;
    margin: 0px;
    user-select: initial;
}

.property-grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;
    right: 2px;
    padding: 0;
    border: 1px solid #ccc;
    margin: 0;
    cursor: default;
    background-color: white;
    outline: none;
    overflow: hidden;
}

.property-grid-group {
    background-color: rgb(244, 247, 252);
    list-style-type: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-left: 20px;
}

.property-grid-group-label {
    font-weight: bold;
    padding-left: 2px;
}

.property-grid-item {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    border-bottom: 1px solid rgb(244, 247, 252);
    position: relative;
}

.property-grid-item-label {
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(244, 247, 252);
    display: inline-block;
    width: 100px;
    padding-left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.property-grid-item-value {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding-left: 2px;
    position: absolute;
    right: 0;
    left: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    top: 0;
}

.property-grid-item-value.readonly {
    background-color: #fafafa;
    color: silver;
}

.property-grid-group-items {
    padding-left: 0px;
}

.property-grid-collapse.fa-chevron-down {
    float: left;
    margin-left: -18px;
    margin-top: 1px;
}

.property-grid-collapse.fa-chevron-right {
    float: left;
    margin-left: -15px;
    margin-top: 3px;
}

.property-grid-editor {
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    border: 0px;
    padding-left: 2px;
    width: 100%;
    background-color: white;
    color: black;
}

.datagrid .property-grid-editor,
.datagrid .property-grid-editor-dropdown input,
.datagrid .property-grid-editor-flag input {
    bottom: initial;
    padding: 2px 4px;
}

.property-grid-editor input[type=checkbox], 
input[type=checkbox].property-grid-editor {
    width: auto;
}

.property-grid-editor-dropdown textarea, 
.property-grid-editor-dropdown-fill textarea {
    border: 0px;
    outline: none;
    padding: 0;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.property-grid-editor-dropdown input,
.property-grid-editor-dropdown-fill input,
.property-grid-editor-flag input {
    border: 0px;
    outline: none;
    padding: 0;
    padding-left: 1px;
    padding-right: 1px;
}

.property-grid-editor-dropdown textarea.single,
.property-grid-editor-dropdown-fill textarea.single {
    white-space: normal;
}

.property-grid-editor-dropdown,
.property-grid-editor-dropdown-fill,
.property-grid-editor-flag {
    border: 1px solid #f2cb7f;
    right: -1px;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    color: black;
}

.datagrid .property-grid-editor-dropdown,
.datagrid .property-grid-editor-flag {
    height: 22px;
}

.property-grid-editor-dropdown-container,
.property-grid-editor-dropdown-fill-container {
    right: 19px;
    position: absolute;
    top: -1px;
    left: 0;
    bottom: 0;
}

.property-grid-editor-dropdown button, 
.property-grid-editor-dropdown-fill button,
.property-grid-editor-flag button {
    width: 18px;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    border: 0px;
    padding: 0;
    text-align: center;
    outline: none;
    color: black;
}

.property-grid-editor-flag-dropdown {
    overflow: auto;
    background-color: white;
    border: 1px solid #f2cb7f;
    color: black;
    outline: none;
}

.property-grid-editor-flag-dropdown label {
    width: 100%;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
}

.property-grid-editor-flag-dropdown label:hover, .property-grid-editor-flag-dropdown div:hover {
    background-color: rgba(135, 206, 250, 0.5);
}

.property-grid-editor-flag-dropdown div {
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
}
