html,
body {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

.cm {
    top: 26px !important;
}

.cm-tabpane {
    background-color: window;
}

.btn-toolbar {
    background-color: rgb(245, 245, 245);
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.btn-toolbar .btn {
    outline: none !important;
}

.btn-toolbar button, .panel-heading button {
    min-width: 26px;
}

.btn-toolbar label {
    margin-bottom: 0 !important;
}

#btn-add-dropdown {
    min-width: auto !important;
}

.fa-file-pdf-o {
    color: #cc3e44 !important;
}

.fa-file-excel-o {
    color: #8dc149 !important;
}

.fa-file-word-o {
    color: #519aba !important;
}

.fa-file-image-o {
    color: #a074c4 !important;
}

.fa-file-video-o {
    color: #f55385 !important;
}

.fa-file-archive-o {
    color: #6d8086 !important;
}

.icon-o {
    color: #8dc149 !important;
}

.icon-h {
    color: #a074c4 !important;
}

.icon-c {
    color: #519aba !important;
}

.fa-map-o {
    color: #8dc149 !important;
}

.editor {
    top: 0;
    bottom: 20px;
    left: 0;
    position: absolute !important;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-top: 1px solid #ccc;
}

.output {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 170px;
    padding: 0px;
    cursor: default;
    display: none;
}

.output a {
    padding-right: 5px;
    padding-left: 5px;
}

#output-toolbar {
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}

#output-toolbar .close {
    font-size: 15px;
    float: right;
    padding: 5px;
}

.output-display {
    position: absolute;
    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    outline: none;
}

.output .error {
    color: red;
    text-decoration: none;
    display: block;
}

.output .warning {
    text-decoration: none;
    color: #DDDD00;
    display: block;
}

.output .error:hover, .output .warning:hover {
    text-decoration: underline;
}

.cm-tabpane-container {
    background-color: grey;
}

.statusbar {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    cursor: default;
}

.statusbar span, .statusbar div {
    padding-left: 2px;
    padding-right: 2px;
}

.ace_status-indicator {
    float: right;
}

.cm-tabstrip li {
    opacity: 1;
    color: silver;
}

.cm-tabstrip li.changed {
    background-color: lighten(rgb(218, 255, 181), 10%) !important;
    border-color: lighten(rgb(119, 168, 69), 10%) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.new {
    background-color: lighten(rgb(178, 226, 255), 10%) !important;
    border-color: lighten(rgb(94, 185, 242), 10%) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.changed.active {
    background-color: rgb(218, 255, 181) !important;
    border-color: rgb(119, 168, 69) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.new.active {
    background-color: rgb(178, 226, 255) !important;
    border-color: rgb(94, 185, 242) !important;
    opacity: 1;
    color: black;
}

.cm-tabstrip li.active {
    background-color: rgb(249, 242, 217);
    border-color: rgb(247, 216, 106);
    opacity: 1;
    color: black;
}

#btm-drag-bar {
    background-color: transparent;
    height: 3px;
    width: 100%;
    cursor: row-resize;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#btm-ghost-bar {
    height: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: row-resize;
    z-index: 999;
}
