.dialog-footer
{
    background-color: #F5F5F5;
    box-shadow: inset 0 1px 0 #fff;
    position: absolute; 
    bottom:0; 
    left:0; 
    right: 0;
    padding: 5px;
    border-top: 1px solid #ddd;
}

.dialog-body .tab-pane
{
    padding: 10px;
}

.dialog-body .nav-tabs li:first-child
{
    margin-left: 10px;
}

.dialog-footer .btn
{
    margin: 5px;
}


input[type=color]
{
    padding: 0px;
    height: 24px;
    margin: 2px;
}

.input-group label
{
    font-weight: normal;
    padding: 0px;
    margin: auto;
}

textarea {
    resize: none;
}

.bootstrap-select .dropdown-toggle:focus {
    border-color: #66afe9;
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.selected a:focus {
    outline: 5px auto #66afe9;
}

.form-group {
    margin-bottom: 5px;
}