dialog {
    border: 1px solid black;
    box-shadow: 3px 3px 5px #535353;
}

.dialog-header {
    background-color: #F5F5F5;
    box-shadow: inset 0 -1px 0 #ddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.dialog-header .btn, .dialog-header .btn-group {
    margin: 5px;
}

.dialog-header .btn-group .btn {
    margin: 0px;
}

.dialog-footer {
    background-color: #F5F5F5;
    box-shadow: inset 0 1px 0 #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border-top: 1px solid #ddd;
}

.bootstrap-select .selected.active, .bootstrap-select .selected.active:hover {
    color: black;
}

.bootstrap-select .dropdown-menu {
    max-height: 250px !important;
    width: 100%;
}

.dialog-footer .btn, .dialog-footer .btn-group, .dialog-footer .bootstrap-select {
    margin: 5px;
}

.dialog-footer .bootstrap-select .btn, .dialog-footer .bootstrap-select .btn-group {
    margin: 0px;
}

.dialog-footer .btn-group .btn {
    margin: 0px;
}

.dialog-body .tab-pane {
    padding: 10px;
}

.dialog-body .nav-tabs li:first-child {
    margin-left: 10px;
}

input[type=color] {
    padding: 0px;
    height: 24px;
    margin: 2px;
}

.input-group label {
    font-weight: normal;
    padding: 0px;
    margin: auto;
}

textarea {
    resize: none;
}

.bootstrap-select .dropdown-toggle:focus {
    border-color: #66afe9;
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.selected a:focus {
    outline: 5px auto #66afe9;
}

.form-group {
    margin-bottom: 5px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.input-dropdown {
    padding-right: 0;
}

input.input-dropdown::-webkit-calendar-picker-indicator:hover {
    background-image: url(../../assets/editor/edit-dropdown.over.png);
    background-repeat: no-repeat;
    background-position: right;
    opacity: 1;
    color: transparent;
    border-left: 1px solid #ADADAD;
}

input.input-dropdown::-webkit-calendar-picker-indicator:active {
    background-image: url(../../assets/editor/edit-dropdown.down.png);
    background-repeat: no-repeat;
    background-position: right;    
    opacity: 1;
    color: transparent;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    border-left: 1px solid rgba(102,175,233,.6);    
    border-left: 1px solid #ADADAD;
}

input.input-dropdown::-webkit-calendar-picker-indicator  {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 15px;
    opacity: 1;
    color: transparent;
    background-image: url(../../assets/editor/edit-dropdown.png);
    background-repeat: no-repeat;
    background-position: right;
    border-left: 1px solid #CCCCCC;    
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}