$images: "./../../assets";
$borderColor: "rgb(204, 204, 204)";
$color: "#333";
$panelBackground: "rgb(240, 240, 240)";
$panelInsetBackground: "rgb(240, 240, 240)";

html,
body {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

.btn-toolbar {
    background-color: menu;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.btn-toolbar .btn {
    outline: none !important;
}

.btn-toolbar button, .panel-heading button {
    min-width: 26px;
}

.btn-toolbar label {
    margin-bottom: 0 !important;
}

.control-label {
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
}

.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-warning {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
}

.panel-heading .control-label {
    width: 100%;
    margin: 0px;
    margin-top: 3px;
}

.panel-heading {
    padding: 2px;
}

.panel-heading .form-control {
    display: inline-block;
    margin: 0px;
    height: auto;
}

.panel-heading {
    min-height: 30px;
}

.path-container {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 34px;
    left: 72px;
}

.path-container .btn-group {
    margin: 2px;
    height: auto;
}

.panel {
    height: 100%;
}

.path-buttons {
    position: absolute;
    top: 4px;
    left: 4px;
}

.dropdown-menu a.active2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9eceff+0,3399ff+100 */
    background: #3399ff;

    /* Old browsers */
    background: -moz-linear-gradient(top, #9eceff 0%, #3399ff 100%);

    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9eceff 0%, #3399ff 100%);

    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9eceff 0%, #3399ff 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eceff', endColorstr='#3399ff',GradientType=0 );

    /* IE6-9 */
    color: white;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a.active {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

#mask {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    cursor: wait;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

#container {
    padding: 0px;
    top: 31px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
    font-size: 14px;    
    -webkit-user-select: text;
    user-select: text;
    word-wrap: break-word;
    border: 0;
}

#container-frame {
    border: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}


#container-display {
    font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
    font-size: 14px;    
    -webkit-user-select: text;
    user-select: text;
    word-wrap: break-word;
    border: 0;
    overflow: auto;
    padding: 8px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;    
}

#container-display img {
	max-width: 100%;
	max-height: 100%;
}

#container-display a {
	text-decoration: none;
}

#container-display a:hover {
	text-decoration: underline;
}

#container-display a:focus,
#container-display input:focus,
#container-display select:focus,
#container-display textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

#container-display hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
}

#container-display h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#container-display h1:first-of-type {
    padding-top: 0px;
    margin-top: 0px;
}

#container-display h1, 
#container-display h2, 
#container-display h3 {
	font-weight: normal;
}

#container-display h1 code,
#container-display h2 code,
#container-display h3 code,
#container-display h4 code,
#container-display h5 code,
#container-display h6 code {
	font-size: inherit;
	line-height: auto;
}

#container-display table {
	border-collapse: collapse;
}

#container-display table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid;
}

#container-display table > thead > tr > th,
#container-display table > thead > tr > td,
#container-display table > tbody > tr > th,
#container-display table > tbody > tr > td {
	padding: 5px 10px;
}

#container-display table > tbody > tr + tr > td {
	border-top: 1px solid;
}

#container-display table > tbody > tr:last-child {
    border-bottom: 1px solid;
}

#container-display blockquote {
	margin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	border-left-width: 5px;
	border-left-style: solid;
}

#container-display code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 14px;
	line-height: 19px;
}

#container-display code {
	background-color: rgba(220, 220, 220, 0.4);
}

#container-display pre {
    word-wrap: break-word;
    word-break: break-word;
}

#container-display pre > code {
    background-color: inherit;
}

#container-display table > thead > tr > th {
	border-color: rgba(0, 0, 0, 0.69);
}

#container-display h1,
#container-display hr,
#container-display table > tbody > tr + tr > td {
	border-color: rgba(0, 0, 0, 0.18);
}

#btn-history-dropdown, .btn-caret {
    min-width: auto !important;
    padding: 1px 2px;
}


.find {
    top: 28px;
    right: 20px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #{$borderColor};
    background-color: #{$panelBackground};
    color: #{$color};
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    z-index: 100;  
    display: none;
}

.find input,
.find input:focus {
    border: 1px solid #{$borderColor};
    width: 100px;
    background-color: white;
    color: black;
    padding: 2px 2px;
    height: 22px;
    top: -1px;
    border-radius: 2px;
}

.find input:focus {
    border: 1px solid adadad;
    color: #{$color};
}

.find button .fa {
    margin-top: 3px;
}

.find button {
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    line-height: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

.find button:hover,
.find button.active:hover {
    color: #{$color};
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
    text-shadow: 0 1px 0 #fff;
}

.find button.active:hover {
    color: #{$color};
    background-color: #a0a0a0;
    background-position: 0 -15px;
    color: #fff;
    border-color: #adadad;
    text-shadow: 0 1px 0 #333;
}

.find button:active {
    border: 1px solid #0052A4;
}

.find button:disabled,
.find button:disabled:hover {
    background-color: inherit !important;
    background-image: none;
    box-shadow: none;
    opacity: .25;
    border: 1px solid transparent;
    color: #666;
}

.find button.active {
    background-color: #666;
    border-color: #ccc;
    text-shadow: 0 1px 0 #{$color};
    color: #fff;
}

.find-count {
    padding: 0px;
    display: inline-block;
}

.find-case {
    font-size: 10px;
}

.find-word {
    text-decoration: overline underline;
    font-size: 10px;
}

.find-highlight {
    border-radius: 4px;
    background: rgb(171, 102, 31);
}

.find-no-results {
    color: #F08080;
}

.find-highlight.current {
    border-radius: 4px;
    background: rgb(116, 192, 114);
}



/*https://github.com/Microsoft/vscode/blob/4e4e6f9b44dd9e6a53d1f08565c52b8ea9f61a5e/extensions/markdown-language-features/media/markdown.css*/