$monsters: "./../../assets/monsters";

/*
.party-human {}

.party-elf {}

.party-dwarf, .party-blackdwarf {}

.party-ogre {}
*/
.party-faerie {
    background-image: url(#{$monsters}/Fairy60.png);
    background-size: 32px 32px;
}

/*
.party-gnoll {}

.party-gnome {}
*/
.party-goblin {
    background-image: url(#{$monsters}/Goblin60.png);
    background-size: 32px 32px;
}

/*
.party-half-elf {}

.party-halfling {}

.party-half-ogre {}

.party-half-orc {}

.party-hobbit {}

.party-kobold {}

.party-lizardfolk {}

.party-nymph {}

.party-orc {}

.party-satyr {}

.party-wildelf {}

*/

.monster-black-dragon {
    background-image: url(#{$monsters}/BlackDragon90.png);
    background-size: 32px 32px;
}

.monster-skeleton {
    background-image: url(#{$monsters}/SkeletonWarrior60.png);
    background-size: 32px 32px;
}

.monster-wooly-mammoth {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -448px -899px;
}

.monster-cerberus {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -160px -992px;
    background-color: maroon;
}

.monster-red-dragon {
    /*0.667 * width/height for 48 to 32*/
    background-image: url(#{$monsters}/32x32-6.png);

  /*
background-position: -533.5px -117.5px;  
background-size: 661px 522px;
*/
    background-position: -808px -184px;
    animation: monster-red-dragon-sprite 0.8s steps(2) infinite;
}

@keyframes monster-red-dragon-sprite {
    100% {
        background-position: -808px -280px;
    }
}

.monster-kragg {
    background-image: url(#{$monsters}/drake.png);
    background-position: 0px 0px;
    animation: monster-kragg-sprite 0.8s steps(2) infinite;
}

@keyframes monster-kragg-sprite {
    100% {
        background-position: 0px -64px;
    }
}

.monster-alligator {
    background-image: url(#{$monsters}/32x32-5.png);
    background-position: -352px -800px;
}

.monster-dwarf, .monster-blackdwarf {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -352px -32px;
}

.monster-verres {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -448px -192px;
}

/*
.monster-ogre, .monster-half-ogre {}
*/
.monster-orc, .monster-half-orc {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -544px -96px;
}

/*
.monster-gnome {}
*/
.monster-goblin {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -544px -32px;
}

.monster-hobgoblin {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -544px -64px;
}

/*
.monster-half-elf {}

.monster-half-elf {}

.monster-halfling {}
*/
.monster-hobbit {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -352px -32px;
}

/*
.monster-gargoyle {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -352px -32px;
}
*/
.monster-nymph {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -448px -608px;
}
/*
.monster-wildelf {}

.monster-amphibian {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-ant {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-antelope {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-arachnid {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-avian {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-badger {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bat {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bear {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bird {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bovine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-buck {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bug {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bugbear {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bullfrog {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-camel {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-camelid {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-canine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-cat {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-centaur {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-cervine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-chocobo {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-cow {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-coyote {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-crab {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-cricket {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-crustacean {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-deer {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-doe {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-dog {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-donkey {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}
*/

.monster-dragon {
    background-image: url(#{$monsters}/32x32-6.png);
    background-position: -808px -184px;
    animation: dragon-sprite 0.8s steps(2) infinite;
}

@keyframes monster-dragon-sprite {
    100% {
        background-position: -808px -280px;
    }
}

/*
.monster-elf {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-drake {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-elephant {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-elephantidae {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-elk {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-emu {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-equine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-faerie {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-feline {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-ferret {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-fish {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-frog {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-gazelle {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-gnoll {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-goat {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-hippogriff {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-horse {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-human {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-humanoid {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-insect {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-insectoid {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-kangaroo {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}
*/
.monster-kobold {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -448px -32px;
}
.monster-kobold.monster-cleric {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -448px -128px;
}
/*
.monster-large {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-avian {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-large {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-bird {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-large-bird {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-leporine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-lizard {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-lizardfolk {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-lizardman {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-llama {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-lupine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-mammal {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-mammoth {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-marmoset {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-monkey {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-moose {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-mule {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-musteline {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-naga {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-ostridge {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-otter {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-owl {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-owlbear {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-pachyderm {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-parrot {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-penguin {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-pig {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-plant {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-pony {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-porcupine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-rabbit {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-reindeer {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-reptile {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}
*/

.monster-rodent {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

/*
.monster-satyr {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-scorpion {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-seal {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-serpant {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-sheep {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-skunk {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-snake {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-spider {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-squid {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-squirrel {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-stag {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-swine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-tree {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-turtle {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-unicorn {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-ursine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}
*/
.monster-wolf {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -160px -608px;
}
/*
.monster-wolverine {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-worm {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-wyvern {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}

.monster-yak {
    background-image: url(#{$monsters}/32x32-2.png);
    background-position: -640px -32px;
}
*/
