$image-path : './../../assets';

body 
{
    overflow: hidden;
    font-size: 0.8em;
}

#status
{
    z-index: 100;
    position: absolute;
    width: 164px;
    text-align: center;
    right: 7px;
    top: 7px;
    bottom: 7px;
    background-color: rgb(40, 0, 0);
    border: 1px solid #908271;
    padding: 2px;    
    cursor: default;
}

#statusborder
{
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -2px;    
    z-index: 2;
    width: 7px;
    border-image: url(#{$image-path}/border.png) 0 0 10 0 repeat;
    border-image-slice: 95 95;
    border-image-repeat: round;
    border-width:  90px; 
    border-style: solid;
}

.day
{
    background-image: url('#{$image-path}/status/daybg.png');
}

.day #environmentcenter
{
    background-image: url('#{$image-path}/status/sun.png');
}

.night
{
    background-image: url('#{$image-path}/status/nightbg.png');
}

.twilight
{
     background-image: url('#{$image-path}/status/sunsetbg.png');
}

.dawn 
{
    background-image: url('#{$image-path}/status/sunrisebg.png');
}

.twilight #environmentcenter, .dawn #environmentcenter
{
    background-image: url('#{$image-path}/status/sunset.png');
}

.moon1-full #environmentleft
{
    background-image: url('#{$image-path}/status/redmoonfull.png');
}

.moon1-waning #environmentleft
{
    background-image: url('#{$image-path}/status/redmoonwaning.png');
}

.moon1-waxing #environmentleft
{
    background-image: url('#{$image-path}/status/redmoonwaxing.png');
}

.moon2-full #environmentcenter
{
    background-image: url('#{$image-path}/status/bluemoonfull.png');
}

.moon2-waning #environmentcenter
{
    background-image: url('#{$image-path}/status/bluemoonwaning.png');
}

.moon2-waxing #environmentcenter
{
    background-image: url('#{$image-path}/status/bluemoonwaxing.png');
}

.moon3-full #environmentright
{
    background-image: url('#{$image-path}/status/greenmoonfull.png');
}

.moon3-waning #environmentright
{
    background-image: url('#{$image-path}/status/greenmoonwaning.png');
}

.moon3-waxing #environmentright
{
    background-image: url('#{$image-path}/status/greenmoonwaxing.png');
}

.weather-snow #environmentweather
{
    background-image: url('#{$image-path}/status/weathersnow.png');
}

.weather-snow.intensity-hard #environmentweather
{
    background-image: url('#{$image-path}/status/weathersnowhard.png');
}

.weather-hail #environmentweather
{
    background-image: url('#{$image-path}/status/weatherhail.png');
}

.weather-hail.intensity-hard #environmentweather
{
    background-image: url('#{$image-path}/status/weatherhailhard.png');
}

.weather-rain #environmentweather
{
    background-image: url('#{$image-path}/status/weatherrain.png');
}

.weather-rain.intensity-hard #environmentweather
{
    background-image: url('#{$image-path}/status/weatherrainhard.png');
}

.weather-sand #environmentweather
{
    background-image: url('#{$image-path}/status/weathersand.png');
}

.weather-sand.intensity-hard #environmentweather
{
    background-image: url('#{$image-path}/status/weathersandhard.png');
}

.weather-sleet #environmentweather
{
    background-image: url('#{$image-path}/status/weatherssleet.png');
}

.weather-sleet.intensity-hard #environmentweather
{
    background-image: url('#{$image-path}/status/weathersleethard.png');
}

#environment {
    height: 50px;
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;
    background-color: black;
    border: 1px solid #908271;
    overflow:hidden; 
}

#environmentleft
{
    position: relative;
    top:15px;
    left:0px;
    float:left;
    width:50px;
    height:100%;
}

#environmentcenter
{
    position: relative;
    top:5px;left:0px;
    float:left;
    width:50px;
    height:100%;
    
}

#environmentright
{
    position: relative;
    top:15px;
    left:0px;
    float:left;
    width:50px;
    height:100%;
}

#environmentweather
{
    position: relative;
    top:0px;
    left:0px;
    width:150px;
    height:50px;
    z-index:100;
}

#charactername
{
    color: wheat;
    padding: 0 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
}

#charactername::first-letter
{
    text-transform: uppercase;
}

.weapon-large-sword
{
    background-image: url(#{$image-path}/status/icon_sword_long2.png);   
}

.weapon-shield
{
    background-image: url(#{$image-path}/status/icon_shield.png);   
}

.weapon-melee
{
    background-image: url(#{$image-path}/status/icon_melee.png);   
}

.weapon-miscellaneous
{
    background-image: url(#{$image-path}/status/icon_misc.png);   
} 

.weapon-polearm
{
    background-image: url(#{$image-path}/status/icon_halberd2.png);   
}

.weapon-small-sword
{
    background-image: url(#{$image-path}/status/icon_sword_short3.png);
}

.weapon-spear
{
    background-image: url(#{$image-path}/status/icon_spear2.png);   
}

.weapon-axe
{
    background-image: url(#{$image-path}/status/icon_axe1.png);   
}

.weapon-blunt
{
    background-image: url(#{$image-path}/status/icon_bigclub1.png);   
}

.weapon-knife
{
    background-image: url(#{$image-path}/status/icon_dagger1.png);   
}

.weapon-bow
{
    background-image: url(#{$image-path}/status/icon_Bow3.png);   
}

.weapon-crossbow
{
    background-image: url(#{$image-path}/status/icon_XBow2.png);   
}

.weapon-flail
{
    background-image: url(#{$image-path}/status/icon_bullwhip.png);   
}

.weapon-staff
{
    background-image: url(#{$image-path}/status/icon_staff2.png);   
}  

#lefthandweapon{
    position: absolute;
    top: 85px;
    background-color: black;
    border: 1px solid #908271;
    width: 32px;
    height: 32px;   
    left: 5px; 
}

#righthandweapon {
    position: absolute;
    top: 85px;
    background-color: black;
    border: 1px solid #908271;
    width: 32px;
    height: 32px;   
    right: 5px; 
}

#experiance
{
    position: absolute;
    top:350px;
    right: 5px;
    left: 5px;
    background-color: black;
    border: 1px solid #908271;
    padding: 2px; 
    color: wheat;
    text-align: left;
}

#experiance div span:first-child{
    width: 74px;
    display: inline-block;
}

#experiance div span:nth-child(2){
    text-align: right;
    float: right;
    padding-right: 2px;
}

#bars
{
    position: absolute;
    top:418px;
    right: 5px;
    left: 3px;
    bottom: 22px;
    padding: 2px; 
    color: wheat;
    text-align: left;
    overflow: auto;
    overflow-x: hidden;
}

.combatbar
{
    height: 34px;
    position: relative;
    width: 100%;
    margin-bottom: 2px;
}

.combatname
{
    position: absolute;
    right: 1px;
    left: 38px;
    font-size: 0.75em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.combatname:first-letter {
    text-transform:capitalize;
}

.combaticon
{
    height: 32px;
    width: 32px;
    float: left;
    background-color: black;
    border: 1px solid #908271;    
}

.combatbar .progressbar
{
    position: absolute;
    right: 1px;
    left: 38px;
    font-size: 0.75em;
    bottom: 2px;
    width: auto;
}

.combatbar .progressbar .progressbar-text
{
    left: 0;
}



#body
{
    position: absolute;
    top:60px;
    right: 5px;
    left: 5px;
    background-color: black;
    border: 1px solid #908271;
    padding: 2px;    
}

#body svg
{
    image-rendering: crisp-edges;
}

#health
{
    left: 2px;
}

#armor
{
    right: 2px;
}

#armor, #health, #health.on:hover, #armor.on:hover
{
    position: absolute;
    top: 2px;
    background-color: black;
    border: 1px solid #908271;
    padding: 0px;   
    height: 18px;
    width: 18px;
    background-color: maroon;
}

#armor img, #health img
{
    height: 16px;
    width: 16px;
    margin: 1px;
}

#armor:hover, #health:hover, #health.on, #armor.on 
{
    background-color: #d70000;
    color: black;
}

#armor:active, #health:active
{
    background-color: #a50000;
}

#tail, #leftwing, #rightwing
{
    display:none;
}

.health-100
{
    fill: rgb(255,0,0);
    color:rgb(255,0,0);
    stroke:rgb(255,0,0);
}

.health-80-99
{
    fill: rgb(252, 71, 29);
    color: rgb(252, 71, 29);
    stroke: rgb(252, 71, 29);
}

.health-60-79
{
    fill: rgb(252,165, 40);
    color: rgb(252,165, 40);
    stroke: rgb(252,165, 40);
}

.health-40-59
{
    fill: rgb(251,217,48);
    color: rgb(251,217,48);
    stroke: rgb(251,217,48);
}

.health-20-39
{
    fill: rgb(251, 255, 55);
    color: rgb(251, 255, 55);
    stroke: rgb(251, 255, 55);
}

.health-1-19
{
    fill: rgb(167,255,69);
    color: rgb(167,255,69);
    stroke: rgb(167,255,69);  
}

.health-full
{
    fill: rgb(0, 255, 31);
    color: rgb(0, 255, 31);
    stroke: rgb(0, 255, 31);
}

.armor-unarmored
{
    fill: rgb(128,0,0);
    color: rgb(128,0,0);
    stroke: rgb(128,0,0);
}

.armor-barely
{
    fill: rgb(255,0,0);
    color: rgb(255,0,0);
    stroke: rgb(255,0,0);
}

.armor-slightly
{
    fill: rgb(128,128, 0);
    color: rgb(128,128, 0);
    stroke: rgb(128,128, 0);
}

.armor-somewhat
{
    fill: rgb(255,255,0);
    color: rgb(255,255,0);
    stroke: rgb(255,255,0);
}

.armor-moderately
{
    fill: rgb(0,128,128);
    color: rgb(0,128,128);
    stroke: rgb(0,128,128);
}

.armor-fairly
{
    fill: rgb(0,255,255);
    color: rgb(0,255,255);
    stroke: rgb(0,255,255);
}

.armor-adequately
{
    fill: rgb(0,128,0);
    color: rgb(0,128,0);
    stroke: rgb(0,128,0);
}

.armor-well
{
    fill: rgb(0,255,0);
    color: rgb(0,255,0);
    stroke: rgb(0,255,0);
}

.armor-considerably
{
    fill: rgb(0,0,128);
    color: rgb(0,0,128);
    stroke: rgb(0,0,128);
}

.armor-significantly
{
    fill: rgb(0,0,255);
    color: rgb(0,0,255);
    stroke: rgb(0,0,255);
}

.armor-completely
{
    fill: rgb(128,128,110);
    color: rgb(128,128,110);
    stroke: rgb(128,128,110);
}

.armor-extensively
{
    fill: rgb(255,255,255);
    color: rgb(255,255,255);
    stroke: rgb(255,255,255);
}

.progressbar
{
    height: 12px;
    float: right;
    font-size: 0.75em;
    border: 1px solid #908271;
    height: 12px;
    width: 118px;    
    -webkit-border-radius: 6px;
    border-radius: 6px; /* future proofing */    
    background: -webkit-linear-gradient(left, rgba(255,50,50,1) 0%, rgba(255,157,0,1) 25%, rgba(255,255,0,1) 50%, rgba(189,252,0,1) 75%, rgba(0,255,0,1) 100%);
    background: linear-gradient(to right, rgba(255,50,50,1) 0%, rgba(255,157,0,1) 25%, rgba(255,255,0,1) 50%, rgba(189,252,0,1) 75%, rgba(0,255,0,1) 100%);
    overflow: hidden;
}

#hpstatus 
{
    text-align: left;
    color: wheat;    
}

.progressbar .progressbar-text
{
    position: absolute;
    left: 20px; 
    right: 0px;
    text-align: center;
    z-index: 1;
    background-color: transparent;
    color: black;
}

.progressbar .progressbar-value 
{
    height: 100%;
    width: 0%;
    background-color: wheat;
    float: right;
    
}

#lagMeter
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    width: auto;
}

#lagmeter.progressbar .progressbar-text
{
    left: 0;
} 

#party.hasmembers
{
    border-bottom: 1px solid #908271;
    padding-bottom: 4px;
}