$images: "./../../assets";

.button {
    text-decoration: none;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: 30px;
    position: relative;
}

.button-stretch img,
.button-stretch .button-icon {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 100% !important;
}

.button .fa-stack {
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
}

.button .fa-stack .fa-stack-1x {
    font-size: 0.5em;
    margin-top: -3px;
}

.button .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*opacity: 0;*/
    display: none;
    /*transition: .5s ease;*/
}

.button:hover .overlay {
    /*opacity: 1;*/
    display: block;
}

.button .fa,
.button-icon {
    margin-top: 6px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
}

.button img,
.button-icon {
    display: block;
    margin-top: 6px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.button svg {
    top: -3px;
    position: relative;
}

.button-sm .fa,
.button-sm.on .fa {
    margin-top: 1px;
    margin-left: 0;
    width: 16px;
    height: 16px;
    font-size: 14px;
}

.button-sm,
.button-sm.on {
    width: 18px;
    height: 18px;
    font-size: 16px;
}

.button-sm img,
.button-sm.on img {
    height: 16px;
    width: 16px;
    margin: 1px;
}

.button-sm svg,
.button-sm.on svg {
    top: 0px;
    position: relative;
}

.scroll-track {
    width: 12px;
    height: 12px;
    background-color: Scrollbar;
    box-sizing: border-box;
    z-index: 1001;
    cursor: default;
}

.scroll-thumb {
    background-color: ButtonFace;
    box-sizing: border-box;
    border-top: 1px solid ButtonHighlight;
    border-left: 1px solid ButtonHighlight;
    border-right: 1px solid ButtonShadow;
    border-bottom: 1px solid ButtonShadow;
    z-index: 2000;
    cursor: default;
}

.scroll-thumb:hover {
    background-color: ActiveBorder;
}

.scroll-thumb:active {
    background-color: ThreeDDarkShadow;
}

.scroll-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background-color: Scrollbar;
    z-index: 1000;
    cursor: default;
}

.scroll-split-button {
    font-size: 9px;
    text-align: center;
    background-color: ButtonFace !important;
    color: ButtonText;
    box-sizing: border-box;
    border-top: 1px solid ButtonHighlight;
    border-left: 1px solid ButtonHighlight;
    border-right: 1px solid ButtonShadow;
    border-bottom: 1px solid ButtonShadow;
    z-index: 2000;
    cursor: default;
}

.scroll-split-button.active:active {
    font-size: 9px;
    text-align: center;
    background-color: ButtonFace !important;
    color: ButtonText;
    box-sizing: border-box;
    border-top: 1px solid ButtonShadow;
    border-left: 1px solid ButtonShadow;
    border-right: 1px solid ButtonHighlight;
    border-bottom: 1px solid ButtonHighlight;
    z-index: 2000;
    cursor: default;
}

.scroll-split-button.disabled {
    color: GrayText;
    cursor: default;
}

.scroll-split-button.active {
    background-color: ThreeDShadow !important;
    color: ButtonText;
    border-top: 1px solid ButtonShadow;
    border-left: 1px solid ButtonShadow;
    border-right: 1px solid ButtonHighlight;
    border-bottom: 1px solid ButtonHighlight;
}

.scroll-split-button i {
    top: 1px;
    position: relative;
}

.scroll-horizontal {
    border-top: 1px solid ButtonHighlight;
    cursor: default;
}

.scroll-vertical {
    border-left: 1px solid ButtonHighlight;
    cursor: default;
}

.scroll-disabled .scroll-thumb,
.scroll-disabled .scroll-thumb:hover,
.scroll-disabled .scroll-thumb:active {
    background-color: ThreeDLightShadow;
    cursor: default;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none !important;
}

#history-dropup {
    width: 32px
}

/** Grip button */
.drag-grip {
    display: inline-block;
    background: white;
    color: black;
    width: 32px;
    height: 16px;
    border: 1px black solid;
    -webkit-app-region: drag;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
}

.drag-grip[style*='display: none'] ~ #bb-scroll-up,
.drag-grip[style*='display: none'] ~ #buttonbar {
    top: 0;
}

.drag-grip svg {
    width: 32px; 
    height: 16px;
    fill: currentColor;
    overflow: hidden;
    top: -11px;
}

#loader {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
    color: wheat;
    background-color: black;
}

#loader .text {
    width:100%;
    text-align:center;
    font-size:3em;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.loader {
    border: 16px solid #790000;
    /* Light grey */
    border-top: 16px solid #d70000;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: calc(50% - 60px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#commandMeasure::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.day {
    background-image: url("#{$images}/status/daybg.png");
}

.day #environmentcenter {
    background-image: url("#{$images}/status/sun.png");
}

.night {
    background-image: url("#{$images}/status/nightbg.png");
}

.twilight {
    background-image: url("#{$images}/status/sunsetbg.png");
}

.dawn {
    background-image: url("#{$images}/status/sunrisebg.png");
}

.twilight #environmentcenter,
.dawn #environmentcenter {
    background-image: url("#{$images}/status/sunset.png");
}

.moon1-full #environmentleft {
    background-image: url("#{$images}/status/redmoonfull.png");
}

.moon1-waning #environmentleft {
    background-image: url("#{$images}/status/redmoonwaning.png");
}

.moon1-waxing #environmentleft {
    background-image: url("#{$images}/status/redmoonwaxing.png");
}

.moon2-full #environmentcenter {
    background-image: url("#{$images}/status/bluemoonfull.png");
}

.moon2-waning #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaning.png");
}

.moon2-waxing #environmentcenter {
    background-image: url("#{$images}/status/bluemoonwaxing.png");
}

.moon3-full #environmentright {
    background-image: url("#{$images}/status/greenmoonfull.png");
}

.moon3-waning #environmentright {
    background-image: url("#{$images}/status/greenmoonwaning.png");
}

.moon3-waxing #environmentright {
    background-image: url("#{$images}/status/greenmoonwaxing.png");
}

.weather-snow #environmentweather {
    background-image: url("#{$images}/status/weathersnow.png");
}

.weather-snow.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersnowhard.png");
}

.weather-hail #environmentweather {
    background-image: url("#{$images}/status/weatherhail.png");
}

.weather-hail.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherhailhard.png");
}

.weather-rain #environmentweather,
.weather-zombie_rain #environmentweather {
    background-image: url("#{$images}/status/weatherrain.png");
}

.weather-rain.intensity-hard #environmentweather,
.weather-zombie_rain.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherrainhard.png");
}

.weather-sand #environmentweather {
    background-image: url("#{$images}/status/weathersand.png");
}

.weather-sand.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersandhard.png");
}

.weather-sleet #environmentweather {
    background-image: url("#{$images}/status/weathersleet.png");
}

.weather-sleet.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weathersleethard.png");
}

.weather-blood_rain #environmentweather {
    background-image: url("#{$images}/status/weatherblood_rain.png");
}

.weather-blood_rain.intensity-hard #environmentweather {
    background-image: url("#{$images}/status/weatherblood_rainhard.png");
}

.weapon-dominant {
    border-color: red !important;
}

.weapon-large-sword {
    background-image: url(#{$images}/status/icon_sword_long2.png);
}

.weapon-shield {
    background-image: url(#{$images}/status/icon_shield.png);
}

.weapon-melee {
    background-image: url(#{$images}/status/icon_melee.png);
}

.weapon-miscellaneous {
    background-image: url(#{$images}/status/icon_misc.png);
}

.weapon-polearm {
    background-image: url(#{$images}/status/icon_halberd2.png);
}

.weapon-small-sword {
    background-image: url(#{$images}/status/icon_sword_short3.png);
}

.weapon-spear {
    background-image: url(#{$images}/status/icon_spear2.png);
}

.weapon-axe {
    background-image: url(#{$images}/status/icon_axe1.png);
}

.weapon-blunt {
    background-image: url(#{$images}/status/icon_bigclub1.png);
}

.weapon-knife {
    background-image: url(#{$images}/status/icon_dagger1.png);
}

.weapon-bow {
    background-image: url(#{$images}/status/icon_Bow3.png);
}

.weapon-crossbow {
    background-image: url(#{$images}/status/icon_XBow2.png);
}

.weapon-flail {
    background-image: url(#{$images}/status/icon_bullwhip.png);
}

.weapon-staff {
    background-image: url(#{$images}/status/icon_staff2.png);
}

#health {
    left: 2px;
}

#armor {
    right: 2px;
}

#character-name::first-letter {
    text-transform: uppercase;
}

.health-100 {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.health-80-99 {
    fill: rgb(252, 71, 29);
    color: rgb(252, 71, 29);
    stroke: rgb(252, 71, 29);
}

.health-60-79 {
    fill: rgb(252, 165, 40);
    color: rgb(252, 165, 40);
    stroke: rgb(252, 165, 40);
}

.health-40-59 {
    fill: rgb(251, 217, 48);
    color: rgb(251, 217, 48);
    stroke: rgb(251, 217, 48);
}

.health-20-39 {
    fill: rgb(251, 255, 55);
    color: rgb(251, 255, 55);
    stroke: rgb(251, 255, 55);
}

.health-1-19 {
    fill: rgb(167, 255, 69);
    color: rgb(167, 255, 69);
    stroke: rgb(167, 255, 69);
}

.health-full {
    fill: rgb(0, 255, 31);
    color: rgb(0, 255, 31);
    stroke: rgb(0, 255, 31);
}

.armor-unarmored {
    fill: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    stroke: rgb(128, 0, 0);
}

.armor-barely {
    fill: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
}

.armor-slightly {
    fill: rgb(128, 128, 0);
    color: rgb(128, 128, 0);
    stroke: rgb(128, 128, 0);
}

.armor-somewhat {
    fill: rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    stroke: rgb(255, 255, 0);
}

.armor-moderately {
    fill: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    stroke: rgb(0, 128, 128);
}

.armor-fairly {
    fill: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
    stroke: rgb(0, 255, 255);
}

.armor-adequately {
    fill: rgb(0, 128, 0);
    color: rgb(0, 128, 0);
    stroke: rgb(0, 128, 0);
}

.armor-well {
    fill: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    stroke: rgb(0, 255, 0);
}

.armor-considerably {
    fill: rgb(0, 0, 128);
    color: rgb(0, 0, 128);
    stroke: rgb(0, 0, 128);
}

.armor-significantly {
    fill: rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    stroke: rgb(0, 0, 255);
}

.armor-completely {
    fill: rgb(128, 128, 110);
    color: rgb(128, 128, 110);
    stroke: rgb(128, 128, 110);
}

.armor-extensively {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}

.progressbar {
    height: 14px;
    font-size: 1em;
    width: 118px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /* future proofing */
    background: -webkit-linear-gradient(left, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 50, 50, 1) 0%, rgba(255, 157, 0, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(189, 252, 0, 1) 75%, rgba(0, 255, 0, 1) 100%);
}

.combat-bar .progressbar .progressbar-text {
    left: 0;
}

#hp-status span {
    overflow: hidden;
    display: inline-block;
}


.find button .fa {
    margin-top: 3px;
}

.find button {
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    line-height: 16px;
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

.find-case {
    font-size: 10px;
}

.find-word {
    text-decoration: overline underline;
    font-size: 10px;
}

.find-highlight {
    border-radius: 4px;
    background: rgb(171, 102, 31);
}

.find-no-results {
    color: #F08080;
}

.find-highlight.current {
    border-radius: 4px;
    background: rgb(116, 192, 114);
    z-index: 10;
}

.combat-name:first-letter {
    text-transform: capitalize;
}
